[2019-02-14 18:23] xuzhg commented on #1403
I think change the type of parameter as "decimal" can work.
From the latest comments in dotnet/coreclr#22587, it seems our codes [here](https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/ExpressionLexer.cs#L1177-L1198) has problem in different platform and different version.

[2019-02-14 18:29] xuzhg commented on #1403
@JShawnLooney Or, you can use the 'd' suffix after the value. for example:

`.../Contains(Latitude=46.2632,Longitude=-119.4878d)`

It works but in the controller method, you will get a inaccurate value. maybe: -119.48779999999999

[2019-02-14 18:41] JShawnLooney commented on #1403
@xuzhg Yep, but we've got a number of consumers already who I'd prefer not to impact, so I'm changing my function parameter types to take decimals.

FYI, I can confirm that switching the function parameter to float does not work and still gets hung up in the parsing and I get a 404 for that same value.

Thank you again for tracking down the cause of this issue.  This gives me what I need for my wo

[2019-02-14 23:06] xuzhg commented on #1368
It was merged. close it.

[2019-02-14 23:06] #1368 closed

[2019-02-14 23:07] xuzhg commented on #1385
It was merged. close it.

[2019-02-14 23:07] #1385 closed

[2019-02-15 00:59] xuzhg commented on #1372
@UD1412 I tested it in

1. Asp.NET OData v5.9
2. Asp.NET OData v7.1
3. Asp.NET Core OData v7.1

Can't repo it in all above version.

[2019-02-15 15:48] korygin opened #1406 "Error when using $count segment with $filter system query option"
OData URI parser fails with ODataException when the $count segment is used in conjunction with the system query option $filter.

### Assemblies affected

Microsoft.OData.Core v 7.5.3

### Reproduce steps

1. Create ODataQueryOptions with $count segment and $filter query option, i.e. MyEntitySet/$count?$filter=MyProperty eq 1
2. Try accessing query's Filter.FilterClause property

### Expected resul

[2019-02-15 16:29] pedropaulovc commented on #1398
@xuzhg That's the plan. :) I'll work with my team to it done.

[2019-02-19 09:32] Mortana89 commented on #809
Same here, simple count of navigational properties are not working.

[2019-02-19 13:16] ronaldschlenker commented on #996
This issue is pretty old, but I stumbled across it and it seems it's still occurring. I use Microsoft.AspNetCore.OData, v7.1.0

[2019-02-19 18:36] godrage commented on #1319
still experiencing this problem :(

[2019-02-19 18:38] xuzhg commented on #1403
@JShawnLooney Thanks, let us keep this issue open to track on.

[2019-02-19 19:36] xuzhg commented on #1406
@korygin
I tested it and it looks fine at my side. Would you please share me your repo to dig more.

Below is my test:

![image](https://user-images.githubusercontent.com/9426627/53042205-94c1ff00-343a-11e9-9a05-f059a60c494d.png)

[2019-02-20 16:04] korygin commented on #1406
Hi, after further investigation it appears the error is on our end, we've been passing the wrong EDM type reference to the query context. Closing the issue.

[2019-02-20 16:04] #1406 closed

[2019-02-20 22:59] brjohnstmsft commented on #1372
@xuzhg The issue only occurs for strings that are values of open properties. Please see our standalone repro here: https://github.com/brjohnstmsft/odata-repros/tree/master/EscapedTab

[2019-02-25 19:35] xuzhg opened #1410 "Do we need to verify the buffer size returned from the buffer pool?"
### Assemblies affected

* In the previous version, we introduce the "ICharArrayPool" interface, which can be used to rent the buffer from outside.
* So far, we assume the returned buffer size is bigger or equal to the required size. But, customer maybe return a smaller size. Should we add validation logic?

[2019-02-26 14:48] cilerler opened #1411 "What is the future for Microsoft.OData.Client?"
I wonder if Microsoft.OData.Client will ever support .NET Core 2.2 or .NET Core 3?

If not, it is better to officially deprecated the library so we can move forward with [Simple.OData.Client](https://github.com/simple-odata-client/Simple.OData.Client).

Thank you for your time and attention.

[2019-02-26 22:04] robertmclaws commented on #1411
I would love to switch everything to SImple.OData.Client and figure out how to generate a TypeScript version from the C# code. I think that would be a really powerful combination that would simplify a lot of things moving forward.

[2019-02-26 22:42] cilerler commented on #1411
@robertmclaws trying to move forward with Blazor and want to avoid TypeScript/Javascript as much as I can.

Also, I'm hesitant to move forward with Simple.OData.Client since it doesn't support LINQ based filtering unless OData team says they are done releasing the client. All I want is be able to write `.Where(o=>o.Id==111)` instead of `$filter=Id eq 111` not asking much 😇

My 2 cents says server

[2019-02-27 10:17] NetTecture commented on #1411
That is your choice - but if you see odata as an open standard, then the current situation is this:
* In C# there is a pretty good client with Simple.Odata.Client
* Java is a mess. We moved some API from an old REST interface to OData and thus had to rewrite a java android app and oh my, Olingo LOVES pages of code where Simple.Odata.CLient uses a couple of lines. Everything requires code, seems re

[2019-02-27 13:11] cilerler commented on #1411
@NetTecture my bad, I didn't realize that syntax before and I'm OK to use `Filter` instead of `Where` that I can compromise. 🤣  Thank you!

But still, I would like to get official update to know if there will be any Microsoft.OData.Client in the future.

Correct not yet, but it will be, since it is Razor based it will get main-stream momentum if the team keeps pushing it the way they done in last

[2019-02-27 21:50] ikemtz commented on #1411
I'm actually working on a solution to generate a typescript client along with models for communicating with OData.  However, I might be taking a slightly different approach than most.  I'm leveraging Swagger/Swashbuckle to first generate the spec then generate the typescript from there.  It took me a while just to get this far, I should have an npm package in a couple of weeks.

Here's an OData en

[2019-02-27 23:52] robertmclaws commented on #1411
@ikemtz That sounds awesome. Look forward to seeing it.

It's relatively straightforward to generate clients from Swashbuckle, but I feel like you lose the power of querying in the process. I've written a very simple FetchClient and a set of generators that go against the EDMX to create a client wrapper... and it works well... but you're manually constructing query URLs. OData really shines when y

[2019-02-28 07:20] NetTecture commented on #1411
@ikemtz Care to enlighten me how you got swashbuckle integrating? I never managed to get this working. I have developers who would LOVE me to actually show the odata endpoints in swagger. The metadata document is nice - but not "end user compatible", while swashbuckle is exactly that ;)

@robertmclaws 18 months out IS irrelevant. In my universe we ship a major product update for a customer - next

[2019-02-28 08:10] earloc commented on #1411
We too recently moved away from using the oldish OData-Client-Generator to SODC.
For the TypeScript / Angular World we roled our own implementation that currently supports the majority of reading-capabilities, including $filter, $orderby, projections via $select, grouping via $apply, etc. .
Funnily, the api looks extremely similar to what´s SODC is doing, but under the hood it is just a typed URI

[2019-02-28 20:18] SoaringCalifornia opened #1413 "Need help with simple groupby on master – detail"
I have very simple scenario with master - detail tables:
Master table
`Orders (OrderID, OrderDate, OrderTotal)`
Detail table
`Items (ItemID, OrderID, ItemName, Price)`

Important note: single Order can have multiple Items with same ItemName

Trying to create OData equivalent for this simple SQL statement:

[code]

The `SUM distinct` part is to take care of repeating Items.ItemName for singe order.

[2019-02-28 20:21] cilerler commented on #1411
@robertmclaws thanks! I will look into it this weekend!

![bitmoji](https://render.bitstrips.com/v2/cpanel/ef534e16-69f9-4568-92e4-554ab1d99d40-1d989a62-ae8a-48a8-b04f-0f575358153a-v1.png?transparent=1&palette=1&width=246)

[2019-02-28 22:22] brjohnstmsft commented on #1372
I've added a new version of the repro that includes our workarounds: https://github.com/brjohnstmsft/odata-repros/tree/master/EscapedTab/EscapedTabWorkaround

[2019-03-01 02:19] robertmclaws commented on #1411
@earloc That looks awesome, and I think it could be a great starting point. I can't speak for the Microsoft side of the house, but I think it would be worth discussing, for sure.

[2019-03-01 03:35] ikemtz commented on #1411
@NetTecture Getting swagger to work with OData took me a while; longer than I'd like to admit.  I'm building a framework that makes this super simple called NRSRx, here's the repo:
https://dev.azure.com/ikemtz/_git/NRSRx

Just take a look at any of the OData microservices to see how it works.  I'm still working on documentation.  This is the NuGet package you'll need https://www.nuget.org/packages

[2019-03-02 14:30] earloc commented on #1411
@robertmclaws: I will have an offline-conversation with my team-mate to check what could get pushed in a repo here and polish up areas that are currently a little too specific for our use cases atm. Shouldn't be much effort, though.
I'll drop some links here when we have something together - probably within the coming week.

[2019-03-05 13:32] AndreyAndreev opened #1415 "Building of a filter with both "any" and "or" fails on keeping operations priority"
*The `ODataUri.BuildUrl()` method fails when a filter looks like this: `any() and (condition1 or condition2)`*

### Assemblies affected

*OData .Net lib 7.6.0.30305*

### Reproduce steps

The test case to demonstrate the bug:

[code]

### Expected result

The parentheses at the end of the filter shouldn't be removed. The result is expected to be like this:
`http://gobbledygook/People?$filter=MyPai

[2019-03-05 21:49] ikemtz commented on #1411
Update:
As promised my npm package is in pre-beta but can be found here.
https://www.npmjs.com/package/odata-ts-generator

[2019-03-06 13:14] AndreyAndreev commented on #1415
Did some investigations on that.

The root cause of the issue actually is the return type of the `any` operator which is a `nullable bool`. All the other operators seems to have a type `non-nullable bool`. That's the reason for conversion all the `BinaryOperatorNode` into `ConvertNode`. So the filter expression tree has this `ConvertNode`'s on top of the `BinaryOpertorNode`'s. That leads to not ad

[2019-03-06 18:55] xuzhg commented on #1415
Merged, thanks for contribution.

[2019-03-06 18:55] #1415 closed

[2019-03-06 19:22] xuzhg commented on #1413
@SoaringCalifornia Bascially,the **groupby** specifies the grouping properties. the grouping properties are a comma-separated list of one or more **single-valued property paths** (paths ending in a single-valued primitive, complex, or navigation property) that is enclosed in parentheses.

in your `$apply=groupby((Items/ItemName))` , the grouping properties is not a valid property path, because the

[2019-03-06 19:36] kosinsky commented on #1413
That's correct, you couldn't use collections in the groupby. As a result `$apply=groupby((Items/ItemName))` will fail.

For original question, you could try to use few transformations:
`https://localhost:44352/Items?$apply=groupby((ItemName, Orders/OrderTotal),aggregate($count as ItemCount))/groupby((ItemName), aggregate(ItemCount with sum as TotalItemCount, Orders/OrderTotal with sum as OrdersTot

[2019-03-06 19:55] SoaringCalifornia commented on #1413
@kosinsky - thank you so much, you made my day :)
Your solution worked as expected and produced correct results.
I did not know that you can group like that with OData!

[2019-03-06 22:15] SoaringCalifornia commented on #1413
@kosinsky - I tried adding Orders/TotalWithTax to get summary for order with taxes like below:

`https://localhost:44352/Items?$apply=groupby((ItemName, Orders/OrderTotal, Orders/TotalWithTax),aggregate($count as ItemCount))/groupby((ItemName), aggregate(ItemCount with sum as TotalItemCount, Orders/OrderTotal with sum as OrdersTotal, Orders/TotalWithTax with sum as OrdersTotalWithTax))`

and resul

[2019-03-06 22:37] kosinsky commented on #1413
`groupby((ItemName, Orders/OrderTotal, Orders/TotalWithTax))` gives all unique combinations of Name,Total and Tax
If you have data that looks like:
Item1  Total1 TotalTax1
Item1  Total1 TotalTax2

`groupby((ItemName, Orders/OrderTotal))`  will return only:
Item1  Total1
but `groupby((ItemName, Orders/OrderTotal, Orders/TotalWithTax))` preserve both rows. As a result you will sum Total1 twice.

I h

[2019-03-07 16:58] SoaringCalifornia commented on #1413
@kosinsky I used first suggested approach in the past with decent results.
Second one seems to be quite complex for what I'm trying to do.
Thank you for your help!

[2019-03-07 16:58] #1413 closed

[2019-03-07 22:37] kbarkhausen opened #1417 "SetPayloadValueConverter method is missing in ODataObjectModelExtensions"
In the static class ODataObjectModelExtensions, the methods named "SetPayloadValueConverter" and "GetPayloadValueConverter" are missing in 7.5.2 but were part of the OData libraries version 6.15

### Assemblies affected

This is missing in Microsoft.OData.Core.ODataObjectModelExtensions

### Reproduce steps

If you examine ODataObjectModelExtensions you will see that these methods are missing.

##

[2019-03-08 15:02] 1Jesper1 commented on #1396
Nice @KanishManuja-MS Could you please report back here when there is progress?

[2019-03-09 13:18] Casimodo72 opened #1421 "Why ODataError.ErrorCode instead of ODataError.Code"
While reading the [OASIS error response specification](http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Toc372793091) I noticed that the ODataError has a ErrorCode property instead of a Code property.

Does a way exist to serialize ODataError with JsonConvert.SerializeObject so that it spits out a "code" field instead of the "errorCode" field?

I would lik

[2019-03-10 07:07] srinivasupadhya commented on #1008
@mikepizzo can you please repose to this [post](https://stackoverflow.com/questions/55085301/odata-disable-property-name-validation) if you know the answer?

[2019-03-10 08:54] Casimodo72 commented on #1421
Ok, found a way to make JsonConvert do what I need with a custom contract resolver.
[code]
Finally the ExceptionHandlerOptions for ASP Core's UseExceptionHandler:
[code]

[2019-03-12 10:36] noakesey commented on #1103
Hi @mprigge - did you ever raise a PR for this?  I think it will help the D365FO community.  Want me to raise it?

[2019-03-12 13:43] srinivasupadhya opened #1423 "disable property name validation in writer"
Im trying to create OData API (using Entity Framework as ORM). Everything works end to end. Im trying to set property name for an attribute.

### Assemblies affected

Microsoft.AspNetCore.OData - `v7.1.0`

using:
Microsoft.AspNetCore.Mvc - `v2.2.0`
Microsoft.EntityFrameworkCore - `v2.2.2`

### Reproduce steps

Approach: `DB first` with Model format: `Code`

`Startup.Configure`

[code]

`Controller

[2019-03-13 10:20] gogulsekar commented on #633
+1

[2019-03-13 20:43] xuzhg commented on #1423
@srinivasupadhya '@' is reserved in OData spec for the instance annotation. It's not also valid for most popular languages. Would you please let us know your usage scenario?
We can consider to add quoted syntax for identifiers. But it would be a significant cost and a large change. We need to understand your usage scenarios.

[2019-03-13 20:51] xuzhg commented on #1421
@Casimodo72 Thanks for reaching us. yes, it's better to use "Code" as property name, however, it's a breaking change currently. We'd suppose to do it in next major release.

[2019-03-13 21:00] xuzhg commented on #1417
@kbarkhausen These two methods are removed because OData team want customer to use "Dependent Injection" to inject the customized payload value converter. Can you verify at your side whether you can use DI or not?

[2019-03-14 07:33] srinivasupadhya commented on #1423
@xuzhg the column name contains `@` & `.` currently. The UI expects the OData response to have the field with name same as column name. Changing that would be difficult.
Note: This works when we do EDMX way of mapping model to table.

[2019-03-15 13:20] srinivasupadhya commented on #1423
is there anyway to disable property name validation currently?

[2019-03-17 21:40] rdhainaut opened #1424 "EnableLowerCamelCase() rises incorrect missing property exception on not mapped property from base class"
The method "EnableLowerCamelCase()" from the class "ODataConventionModelBuilderExtensions" rises an incorrect missing property exception when the property is come from a base class and added using fluent api on ODataConventionModelBuilder.  Note: the property is tagged as [NotMapped].
### Assemblies affected
Microsoft.AspNetCore.OData" Version="7.1.0"

### Reproduce steps
I have created a reposito

[2019-03-18 08:51] rdhainaut commented on #1424
A simple workaround consists to rename the property in lowerCamelCase in the Base model class.

[2019-03-18 22:27] mousavii commented on #1163
`public virtual async Task Invoke(HttpContext context)

    {
        await this._next.Invoke(context);
        var routeData = context.GetRouteData();
    }`

swap these two lines of code.

[2019-03-19 07:41] rdhainaut commented on #1424
Sorry the issue do not concern OData/odata.net but is related to OData/Webapi (see https://github.com/OData/WebApi/issues/1784 )

[2019-03-19 07:41] #1424 closed

[2019-03-19 14:35] srinivasupadhya commented on #1423
ok. I did the below in Controller:

[code]

Seems to be working.

[2019-03-19 20:17] kosinsky opened #1426 "Properties defined in $compute and $apply could be used in a following query options ($select, $compute, $filter or $orderby)"
OData specification [5.1.9 System Query Option $compute](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-url-conventions.html#_Toc505773305) says:
_The $compute system query option allows clients to define computed properties that can be used in a $select or within a $filter or $orderby expression._

and [3      System Query Option $apply](http://docs

[2019-03-20 16:36] xuzhg commented on #1410
Merged. Thanks.

[2019-03-20 16:36] #1410 closed

[2019-03-21 16:53] mikepizzo opened #1427 "Fix tests disabled in PR #1204."
*Short summary (3-5 sentences) describing the issue.*

Due to test/framework issues, we had to disable a few tests for PR #1204. This issue is to track re-enabling those tests.

[2019-03-21 17:05] xuzhg commented on #1417
@kbarkhausen I close this, if you have further questions/concerns, please reopen it or file new issues for us. Thanks.

[2019-03-21 17:05] #1417 closed

[2019-03-22 08:52] beqa7137 commented on #596
Hello, is there any update on this issue?
I'm using `Microsoft.AspNetCore.OData v7.1.0` and have a problem when trying to use groupby with aggregate functions, but just groupby itself works fine

[2019-03-25 23:51] mikepizzo opened #1429 "Enable reading json as streams in non-streaming mode"
PR #1204 introduced the ability to read/write inlined stream values, including reading/writing streams with a JSON mediatype as strings.  This works for odata.streaming=true, but does not work if the reorderingjsonreader is invoked.

This work item is to track adding support for reading json stream values when odata.streaming=false.

[2019-03-27 04:42] B4st13n opened #1431 "InvalidOperationException with Bad Request - Error in query syntax"
InvalidOperationException: The path template 'Classes({id})/Bookings({bookingId})' on the action 'GetBookingFromClass' in controller 'Classes' is not a valid OData path template. Bad Request - Error in query syntax.

InvalidOperationException: The path template 'Classes({classKey})/Bookings({key})' on the action 'DeleteBooking' in controller 'Classes' is not a valid OData path template. Bad Reques

[2019-03-27 20:17] raheph commented on #1426
Merged. Close it.

[2019-03-27 20:17] #1426 closed

[2019-03-27 23:22] zew1me opened #1433 "linePragmas="false" causes debugging of T4 template not to work"
Debugging doesn't work on the .tt / .ttinclude files in Visual Studio

### Assemblies affected

T4 Template code generator

*Which assemblies and versions are known to be affected e.g. OData .Net lib 6.15-beta.*

It's been there since commit 03b652473, which happened in 2015, so it's been around a while.

### Reproduce steps

1) Include ODataT4CodeGenerator.tt and ODataT4CodeGenerator.ttinclude in

[2019-03-28 00:06] mikepizzo opened #1434 "Fix contextUrl for $ref"
According to OASIS spec, the contextUrl for a reference should be
     [/$metadata#$ref](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#sec_EntityReference)  <- for a single reference
     [/$metadata#collection($ref)](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#sec_CollectionofEntityRe

[2019-03-28 13:39] XavierAnnabi opened #1435 "The type or namespace name 'Library' does not exist in the namespace 'Microsoft.OData.Edm'"
when using the connect services functionality in VS 2017 to generate the proxy class.
 Odata source is dynamics NAV 2018 with V1 the generated class works well no errors
but with Odata V4 the generated class has errors

### Assemblies affected

Microsoft.OData.Client 7.5.4.30215

### Reproduce steps
get the metadata for Odata V4 from Dynamics NAV 2018
save the metadata in XML file
add connected se

[2019-03-29 08:29] Casimodo72 commented on #1421
Please also note that the spec wants the ODataError property "InnerError" to be serialized as "innererror" (not "innerError").
Non-breaking workaround: please consider adding a way to easily serialize an ODataError in compliance with the spec (e.g. dedicated contract resolver or even an extension method for JsonConvert).

It would also be great if people were made aware of this OData specification

[2019-03-30 11:39] Casimodo72 opened #1437 "Core - different shapes of error response bodies"
Using OData with ASP Core: when explicitely returning a BadRequest("foo") from an OData action, no serialized ODataError is returned to the caller. Instead the following is returned:
[code]
Does this conform to the spec?  Will this ever change?
I'm asking because I'm trying to implement a sane error handler on the client's side.

Currently I see 3 shapes of error response bodies being returned by

[2019-03-30 13:50] Casimodo72 commented on #1437
Since I'm using a custom OData controller base, I was able to fix at least my issue with BadRequest.
Couldn't such overrides be added to ODataController directly?

[code]

[2019-03-30 17:13] xuzhg commented on #1435
@XavierAnnabi OData V4 library v7.x changes the namespace. Can you double check whether the namespace is correctly referencing to.

[2019-04-01 20:00] #1435 closed

[2019-04-01 21:42] xuzhg opened #1438 "Support Edmx.Include element annotation"
OData spec says:

Element edmx:Include

The edmx:Include element specifies a schema to include from the referenced CSDL document. It MUST provide the Namespace attribute and it MAY provide the Alias attribute.

It MAY contain edm:Annotation elements.

So far, ODL doesn't support to annotate the Edmx.Include element.

[2019-04-02 21:40] mikepizzo commented on #1434
Related to #1292, Reference segment in the ContextUrl.

[2019-04-03 03:17] BlairMcc opened #1439 "ExecuteQuery() occasionally fails - how to improve logging?"
ExecuteQuery occasionally fails instantly on basic queries, eg "?$top=10&$count=true"

### Assemblies affected

We are using Microsoft.Odata.Client, .Core, and .Edm v7.5.3

### Reproduce steps

Unable to reproduce, having to rely on logs so far

### Expected result

This issue to not happen occasionally

### Actual result

Instantaneous exception thrown in Microsoft.OData.Client.QueryResult.Execut

[2019-04-03 19:32] ArchSerpo commented on #1439
And this is the block of code that is executed that fails -

`var uri = new Uri(ConfigurationManager.AppSettings["oDataUrl"]);
            var container = new Container(uri);
            container.Credentials = ODataHelper.GetCredentials(User.Identity.Name);

            var factEntityPrice =
                from p in container.EntityPrices.IncludeTotalCount() select p;

            if (serverPara

[2019-04-03 20:23] KanishManuja-MS commented on #1439
@ArchSerpo Can you check into what your log action filter does? If the framework were to support such filter, what kind of information would you like to see in the logs?
Are you able to debug your log filter, if yes then can you please share what information you have available then?

[2019-04-03 20:27] KanishManuja-MS commented on #1437
@KanishManuja-MS  This may have worked in the previous versions; I have to verify.

[2019-04-03 20:29] KanishManuja-MS commented on #1433
@zew1me Thanks for pointing out.

[2019-04-03 21:17] ArchSerpo commented on #1439
Hi @KanishManuja-MS,

I am hoping to see a full error log that can help us diagnose the error, more than "an error has occurred", similar to the one that is pasted here - https://github.com/OData/odata.net/issues/633

Our LogActionFilter overrides the System.Web.Http ActionFilterAttribute class to do some logging. Here is the log method for 'OnActionExecuted'. I can see some potential for improvem

[2019-04-03 22:37] ArchSerpo commented on #1439
Am now throwing an DataServiceQueryException if the response error is not null. Will report back once we see it again

[code]

[2019-04-04 10:08] psekaruipath commented on #668
Any updates regarding this crossjoin operator support?

[2019-04-06 16:05] earloc commented on #1411
@robertmclaws:
One week can be sooo long :)
Sorry for the delay, but my plate was quite full the last couple-o-weeks.

I just pushed an initial version of the mentioned lib:
https://github.com/earloc/odata-uri-builder

Whlile bootsrapping the project, I also stumbled upon
https://github.com/cbrianball/ts-odata-client
They do very similar things - and the V3/V4-agnostic architecture also looks inte

[2019-04-08 00:08] PandaBoy00 commented on #1305
It seems like the Complex Type is also producing some error whenever the type is Type="mscrm.crmbaseentity" / Type="Collection(mscrm.crmbaseentity)" / Type="Collection(mscrm.email)".  The actual correct output from use using the should be 'Property' and not 'NavigationProperty'.

Sample:
[code]
Should be:
[code]

That is the xml output from the Transform() method in the generated ODataClient.cs pr

[2019-04-10 20:23] xuzhg commented on #716
We are not actively developing OData V3 libraries and put all effort to ODaa v4 stack and move to .NET Standard.
Please update to use OData V4 library and please let us know if you  have any issue to update to OData V4? Thanks.

[2019-04-10 20:23] #716 closed

[2019-04-10 20:29] xuzhg commented on #780
@berndesj Did you resolve your issue? Can you provide your sample for us to do investigation?

[2019-04-10 20:33] xuzhg commented on #701
@rbmanian75
Does your issue still persist?
We have released the new ASP.NET OData. Did you find the same issue on the new version?

[2019-04-10 20:36] xuzhg commented on #167
@VikingRedleg , Do you still need help? Are we ok to close this issue?

[2019-04-10 20:39] xuzhg commented on #198
@mvklingeren  Do you still need help? Are we ok to close this issue?

[2019-04-10 20:44] xuzhg commented on #532
@nicenemo  Do you still need help? Are we ok to close this issue?

[2019-04-10 20:49] VikingRedleg commented on #167
Yeah I think we can close this issue.  It's been 3 years so I don't think I'm currently experiencing the problem and I have no further updates for you.

[2019-04-10 20:49] #167 closed

[2019-04-10 21:00] mvklingeren commented on #198
@xuzhg yes, after 4years - that's ok!

[2019-04-10 21:01] #198 closed

[2019-04-10 22:32] xuzhg opened #1441 "OData V4 use IsOf meanwhile OData V3 use IsType"
[OData V3](https://www.odata.org/documentation/odata-version-3-0/common-schema-definition-language-csdl/) defines:

## 16.2.8 The edm:IsType Expression
The edm:IsType expression evaluates a child expression and returns a boolean value indicating whether the child expression returns the specified type. The is type expression MUST assign a value of the type [][csdl19] to the edm:Type attribute.

An

[2019-04-10 23:45] xuzhg opened #1442 "Support Comparison and Logical Operators expression"
### 14.4.2 Comparison and Logical Operators

Annotations MAY use the following logical and comparison expressions which evaluate to a Boolean value. These expressions MAY be combined and they MAY be used anywhere instead of a Boolean expression.

Operator | Description
-- | --
Logical Operators
And | Logical and
Or | Logical or
Not | Logical negation
Comparison Operators
Eq | Equal
Ne | Not equal

[2019-04-10 23:46] xuzhg opened #1443 "Support arithmetic operators expression"
### 14.4.3 Arithmetic Operators

Annotations MAY use the following arithmetic expressions which evaluate to a numeric value. These expressions MAY be combined and they MAY be used anywhere instead of a numeric expression of the appropriate type. The semantics and evaluation rules for each arithmetic expression is identical to the corresponding arithmetic operator defined in [OData‑URL].

Operator

[2019-04-10 23:50] xuzhg opened #1444 "Support Edm.AnyPropertyPath and Edm.ModelElementPath."
The property path expression provides a value for terms or term properties that specify one of the built-in types Edm.PropertyPath, Edm.AnyPropertyPath, or Edm.ModelElementPath.

In current ODL, Edm.AnyPropertyPath, or Edm.ModelElementPath is not supported.

[2019-04-11 11:39] RameshwariSah commented on #1220
Hi all,

I am also getting the same issue. Current version of Microsoft.Odata.Client is 7.5.4 and the class library is in net framework 4.6.1. The ttinclude file uses csdl reader. However, I still get the same issue. Appreciate any help !

Regards,
Rameshwari

[2019-04-11 11:46] object commented on #716
The library has been ported to .NET Standard, so this issue is no longer relevant.

[2019-04-12 07:08] leokc-ng opened #1445 "Incompatible type kinds were found. Found type kind 'Primitive' instead of the expected kind 'None'. on Microsoft.OData.ODataReaderCore.Read() when EnumType and EntityType had the same name."
*Short summary (3-5 sentences) describing the issue.*

We are experiencing error of Microsoft.OData.ODataReaderCore.Read() throw incompatible type kinds were found. Found type kind 'Primitive' instead of the expected kind 'None'.

The cause of the issue was the report  entity contain a Enum field of type ItemType, where there exist another entity named ItemType,

Snippet of Enum field of ItemType

[2019-04-12 17:31] groovyfeng opened #1446 "OData client should use (or have the option to use) relative URIs in OData batch operations"
*If the service lives behind a load balancer that makes its actual URI different from as appeared to the clients, (e.g. http://MyRealApp/MyService vs http://LoadBalancer/MyApp/MyService/MyData) then the DefaultODataBatchHandler cannot find the controller for the batched requests. Use of relative URIs in the batch can make it work. However the BatchPayloadUriOption.RelativeUri option is not being u

[2019-04-12 17:41] groovyfeng commented on #1446
Related issues:
https://github.com/OData/odata.net/issues/271
https://github.com/simple-odata-client/Simple.OData.Client/issues/122
https://github.com/OData/odata.net/issues/1187

[2019-04-15 12:20] tfabian commented on #543
Hi, we are sharing our POCO classes on the server and client side (OData web service and WPF client).  This means for us that the domain layer has a dependency on Microsoft.OData.Client.dll. Entity Framework already uses KeyAttribute from DataAnnotations. So we have to duplicate the key attributes on property level and class level.
In my opinion DataServiceContext should be able to infer the entit

[2019-04-15 15:10] HigorSilvaRosa opened #1447 "Error when I try to use "in" logical operator in an "any" lambda operator"
Hi!

I'm using OData 4, and I'm trying do this filter:
**$filter=Itens/any(c: c/NotaFiscalID in (8962,8503))**
But it just not work.

When a change te filter to this work pretty good:
**$filter=Itens/any(c: c/NotaFiscalID eq 8962 or c/NotaFiscalID eq 8503)**

The problem is just when I try to use the "in" logical operator.

Thank you!

[2019-04-15 21:22] mikepizzo commented on #1228
This should be implemented in OData Library as of October last year. Please let us know if you're still having issues with this in the latest release.

[2019-04-15 21:22] #1228 closed

[2019-04-17 20:09] KanishManuja-MS commented on #1447
@HigorSilvaRosa Thanks for pointing out. We will investigate this.

[2019-04-17 20:15] KanishManuja-MS commented on #1445
OData protocol does not allow duplicate names for top-level elements in the same namespace. If you call Validate on the model, it should fail.

[2019-04-17 20:24] KanishManuja-MS commented on #1446
@groovyfeng This would be a nice feature to add. We will put this in our backlog but in the meanwhile, we are would be grateful for any contributions.

[2019-04-18 16:02] groovyfeng commented on #1446
@KanishManuja-MS I have some ideas on how to fix it, and a college student I know is interested in implementing it. We are happy to adopt the feature. Are you OK with always using relative URIs or should we just add SaveChangesAsync() option(s) to use relative URIs?

[2019-04-19 00:02] unchase commented on #1206
Since v0.5.0 my [Unchase OData ConnectedService](https://marketplace.visualstudio.com/items?itemName=Unchase.unchaseodataconnectedservice) is supports `VisualBasic` client-code generation.

[2019-04-19 18:14] heysaad commented on #793
I am facing the same, any update on this?

[2019-04-24 15:24] mikepizzo opened #1451 "FindType doesn't work with alias-qualified names"
The FindType extension method on IEdmModel expects a fully qualified name, and returns the found type, if it exists.

Unfortunately, FindType only looks for the namespace qualified name, and in many cases is passed the alias-qualified name, resulting in the type not being found.  This leads to unresolved types in the model, as well as an error when trying to validate a model containing alias-quali

[2019-04-25 11:52] undercon commented on #633
I am also facing this and would like to note two things:

a) I face it with a url like http://localhost:1861/Projects?$expand=Disciplines($select=Name;$expand=Attributes), which also fails with the same error response in this project as well, as do all similar situations.
b) The service at https://services.odata.org/V4/OData/OData.svc/ does not manifest this behavior.
e.g. https://services.odata.o

[2019-04-25 13:31] prezasoftwares commented on #1220
Hi @RameshwariSah,

I was getting that issue. Now it is working fine. The class libary version I am using is 4.5.2. I have updated the Odata libraries to 7.5.4 using Nuget.
I have set the TempFilePath variable to a local folder + file name.xml, by doing this, the xml definition file was saved locally, avoiding this "combined string" error.
After this, you have to replace the "" to " in generated x

[2019-04-25 23:12] #1451 closed

[2019-04-29 20:33] mikepizzo opened #1455 "Bogus EntitySetPath error"
*When defining a function or an action, the optional EntitySetPath specifies the collection where any returned entities live. If the return type is a collection of entities, the EntitySetPath (if specified) must reference a collection -- if the return type is a single entity, then the path will typically be a collection but may be a singleton or single-valued containment nav prop.  Currently, vali

[2019-04-30 10:28] itVico commented on #1335
This is might be a prettier syntax:
[code]

[2019-05-01 20:18] xuzhg commented on #509
It's fixed. Close it.

[2019-05-01 20:18] #509 closed

[2019-05-01 22:19] #1455 closed

[2019-05-02 11:43] hlymca84 opened #1460 "The closed type Aimm.Client.BusinessLayer.ODataSupport.Default.CustomerStatus does not have a corresponding 1 settable propertyThe closed type Default.CustomerStatus does not have a corresponding 1 settable property"
The closed type Default.CustomerStatus does not have a corresponding 1 settable property i have CustomerStatus and which is enum but now when i am calling from OData Client Generator and call the oData Action i am getting this error.

Don't have any idea what's wrong i am making, When i am looking to data all is fine

[2019-05-03 09:14] eduardomgsilva opened #1461 "Issue with In operator"
I have updated both Microsft.Odata.Core and Microsft.Odata.Edm from version  7.4.1 to version 7.5.4, i could use the In operator but i am getting the fowling error;
{
  "error": {
    "code": "",
    "message": "The query specified in the URI is not valid. The method or operation is not implemented.",
    "innererror": {
      "message": "The method or operation is not implemented.",
      "type":

[2019-05-07 11:34] saberone opened #1462 "Crash when using groupBy on field of type int"
When I try to perform a groupBy on a field that's of the type "int", the application crashes.

The following exception is thrown:
`System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt. `

on this line of code : https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/Expressions/DynamicType

[2019-05-09 20:48] #1318 closed

[2019-05-15 20:19] madansr7 commented on #1460
@hlymca84 , can you please provide more information on the error. Maybe a sample solution or a snippet of code.

[2019-05-15 20:19] xuzhg commented on #1461
@eduardomgsilva It seems you are using OLD version of Web API OData. it's `System.Web.OData`, the new Web API namespace is `Microsoft.AspNet.OData`. did you see the same error message to use new version?

[2019-05-16 12:11] eduardomgsilva commented on #1461
@xuzhg Yes you are right i am using the old version, i will have to updated it but it's not going to be an easy update.
Thank you.

[2019-05-16 15:21] sasivishnu commented on #1411
Hi,

Just for confirmation, whats the conclusion? Go with Simple.OData.Client? We have to use OData in our upcoming Xamarin.Forms app project since our server API uses OData (Microsoft.Data.OData and Edm library)

Also, any sample/suggestions to use OData in Xamarin.Forms will be helpful. Thanks

[2019-05-21 20:59] mikepizzo opened #1465 "Out of line annotations can't target enum member"
*Validating a schema that has out-of-line annotations targeting an enum member fails.*

### Assemblies affected

*OData .Net lib 7.6-beta.*

### Reproduce steps
load and validate the following schema:
[code]

### Expected result

Successful validation

### Actual result

Error: The property "MyMember" could not be found. Location (12, 10)

### Additional detail

https://github.com/OData/odata.net/

[2019-05-22 05:04] KasthuriNallathambi commented on #1220
Hi @prezasoftwares ,

As you said  i have set value for TempFilePath to localFoder+Test.xml
it generated the file with name test

What i need to replace in the generated file .. you have mentioned replace the "to" .. what it means can you explain in deep..

[2019-05-22 20:28] #52 closed

[2019-05-22 20:29] mikepizzo commented on #1383
Doesn't seem worth fixing at this point.

[2019-05-22 20:29] #1383 closed

[2019-05-22 20:30] #1313 closed

[2019-05-22 20:36] KanishManuja-MS commented on #1024
This is fixed in v4, tagging this issue for v3 only.

[2019-05-22 20:45] #1296 closed

[2019-05-22 20:46] #1260 closed

[2019-05-22 20:50] KanishManuja-MS commented on #1378
@KanishManuja-MS Should fix this as it should not be time consuming.

[2019-05-22 21:47] kosinsky opened #1467 "Support enum parameters for Uri function"
We could add custom Uri (query) functions using static CustomUriFunctions.AddCustomUriFunction method. However, functions with enum as parameters aren't fully suppored when multiple copies of the same IEdmModel (with small changes) are generated.

Following expressions should be suppored:
* `$filter=enumFunc('Rectangle')`
* `$filter=enumFunc(Fully.Qualified.Namespace.EnumType'Rectangle')`

[2019-05-23 20:55] #1465 closed

[2019-05-28 05:12] kuacci opened #1470 "When Edmx 4.01 can be supported by Microsoft.OData.Edm.dll?"
Hi Team,

Is there any plan for [CsdlReader.cs](https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Edm/Csdl/CsdlReader.cs) to support parse xml with Edmx version 4.01?
* `http://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/cs01/schemas/edmx.xsd`

Thanks,

[2019-05-28 05:29] kuacci commented on #1470
I've reviewed below files and figured out that only 4.0 supported now, right?

- https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Edm/Csdl/CsdlReader.cs
[code]

- https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Edm/Csdl/CsdlConstants.cs
[code]

- https://github.com/OData/odata.net/blob/962aa97d61/src/Microsoft.OData.Edm/Schema/EdmConstants.cs
[code]

[2019-05-29 20:43] KanishManuja-MS commented on #1470
@madansr7 Can you please check when will we get to this if it is there in the backlog or add this to the backlog if not present?

[2019-05-30 14:03] mikepizzo commented on #1470
Note that the xml namespaces are not versioned; the namespaces for OData 4.01 are the same as for OData 4.0.  From the [OData 4.01](http://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/cs01/odata-csdl-xml-v4.01-cs01.html#sec_NamespaceEDMX) spec:

Elements and attributes associated with the top-level wrapper that contains the CSDL used to define the entity model for an OData Service are qualified

[2019-05-30 15:06] kuacci commented on #1470
@mikepizzo ,

Thanks for your comments. But as what I see from the source code above, it will check Edmx version first when trying to parse xml. If the retrieved version number is not the 4.0 then it will fail with **InvalidVersionNumber** error:

Please try following code snippet which can stable replicate this error:

[code]
This is the packages I am using:
[code]

[2019-05-30 15:42] mikepizzo commented on #1470
I see; you're not looking for a different namespace, just support for 4.01 for the Version attribute. Right?

[2019-05-30 16:04] kuacci commented on #1470
yes, you are right.

I just want to get the edmx model by parsing the xml file which has the 4.01 version specified.

[2019-05-30 16:48] mikepizzo commented on #1470
Cool; thanks for the confirmation. That makes sense.
Started to look at this; it's a bit tricky, because the code doesn't expect multiple versions to be mapped to the same namespace. We probably need to do mapping just based on major version number.

[2019-05-30 21:22] xuzhg commented on #1467
Merged. Thanks.

[2019-05-30 21:22] #1467 closed

[2019-05-31 06:12] kuacci commented on #1470
right, just check major version number would be a good idea.

[2019-05-31 13:19] Peter-Optiway opened #1471 "Bound collection functions ignore`ODataRoutePrefixAttribute while normal queries honor it"
Bound collection functions ignore `ODataRoutePrefixAttribute` while normal queries honor it.

### Assemblies affected
Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

1. Create a empty .net core 2.2 web api project with the name ODataTest
2. Add `Microsoft.AspNetCore.OData` nuget 7.1.0
3. Edit Startup.cs with the following code:
[code]
4. Run the urls below:

The following Queries work:
* ht

[2019-05-31 21:02] xuzhg opened #1472 "Writing Collection of EntityReferenceLink in Request should use ODataResourceSet"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData .Net lib 6.15-beta.*

### Reproduce steps

Old pattern in request
[code]
should remove the old pattern in the next breaking change version.

Besides, we should support the pattern in request

[code]

We can defer the write "property, colon, and open squ

[2019-06-03 21:28] francisharvey opened #1475 "Issue parsing Edmx version in temp metadata file"
Hi guys,

Is it possible something went wrong in last few release?
It may perhaps be linked with the Edmx 4.01 support or modifications done after v7.5.1?

As someone pointing out here: "https://github.com/microsoft/Dynamics-AX-Integration/issues/88",
I'm also having an issue instanciating the Resources class, which was working fine for months,
with a dll I had previously generated with the versio

[2019-06-03 21:45] mikepizzo commented on #1427
Fixed with PR #1474.

[2019-06-03 21:45] #1427 closed

[2019-06-04 13:33] francisharvey commented on #1475
This method is the one that throws errors: global::Microsoft.OData.Edm.Csdl.CsdlReader.TryParse(reader, true, out edmModel, out errors)

Getting rid of the Prefix, version attribute and everything else referencing them in the metadata file solve the issue, but clearly not a viable thing to ask to a customer.

Here's what now look like the tempsmetadata file:

`<Edmx> <DataServices>   <Schema Names

[2019-06-04 13:41] francisharvey commented on #1475
Hi @mikepizzo,

Do you think you latest changes done for https://github.com/OData/odata.net/issues/1470 is related or may fix this issue?

Thanks
Francis Harvey

[2019-06-04 14:05] cory-hrh opened #1477 "Generated OData client doesn't support nested pagination"
We have a custom OData service with server-side paging.
We have used the OData Client Code Generator to create a client from our model.
When we use the generated client to query an entity set "A" expanding a navigation property "B" there appears to be no way of retrieving the `B@odata.nextLink` value (if present) from the expanded "B" collections - we only receive the nextLink for "A".

### Assemb

[2019-06-04 14:36] mikepizzo commented on #1475
That was my hope in fixing it, but from your expanded description I don't see that it's related.

If I understand your comments above, the second sample (with the Version and other Edmx attributes) was not working, but the one where you removed the Version attribute and namespace does work?

The text in the examples above is incomplete, so I modified it by closing all of the tags and the following

[2019-06-04 15:11] francisharvey commented on #1475
Mike,

Unfortunately, it seems the workaround only fools the TryParse...
All my queries are now failing in DataServiceQuery(Of T).Execute() with :

System.ArgumentOutOfRangeException: 'Length cannot be less than zero.
Parameter name: length'
   at System.String.Substring(Int32 startIndex, Int32 length)
   at Microsoft.OData.TypeUtils.ParseQualifiedTypeName(String qualifiedTypeName, String& namespa

[2019-06-04 15:15] eduardomgsilva commented on #1461
Upgraded from System.Web.OData to Microsoft.AspNet.OData and it solved the problem

[2019-06-04 15:15] #1461 closed

[2019-06-04 15:45] eduardomgsilva opened #1478 "Question: Not In"
Hi,

Is there any feature or planed feature for a Not In operator.?
Because i am trying to exclude a large number of ids from Odata query
 and if is use many "and ne" i reach the odata limit.
Or is there another way of doing this?

Thank you.

[2019-06-04 16:08] francisharvey commented on #1475
Hi @mikepizzo,

I confirm the same behavior occurs in VS2017 with the 7.5.1 client tool.
Updating nuget to 7.5.4 did not fix anything.

Regards,
Francis Harvey

[2019-06-04 17:28] mikepizzo commented on #1475
The issue with tempMetadata.xml is that all of the quotes are doubled, as if the string is intended to be embedded within another string, rather than the contents of a file.

If I do a replace of "" with " within the file, and then save, everything seems to work fine.

Can you elaborate on the steps that you're going through to download and save the file?

[2019-06-04 18:04] rajdil commented on #1475
Hi Francis Harvey

You can get rid of the problem by removing the "" to " in the entire file.

Rest all should be fine.
Thanks
Raj

On Mon, 3 Jun 2019, 22:28 Francis Harvey, <notifications@github.com> wrote:

[2019-06-04 18:04] francisharvey commented on #1475
@mikepizzo, It is the client code that generate the temp file, I input the original metadata and it produces the temp file.

It also append the original metadata to the file rather than overwriting it, so you can end up with more than 60mb of metadata in text format, multiple <edmx:Edmx> tags pair in the same file.

By the way, i'm not sure it is really needed to use the temp file when the metadat

[2019-06-04 21:17] XavierAnnabi commented on #1475
Hi guys,
Confirmed, am getting the same issue the last release has bug, usually when i generate my proxy class I get  errors related to namespace Microsoft.OData.Edm.Library but this time no errors, but am getting
### **The type initializer for 'GeneratedEdmModel' threw an exception**, it worked before I generate with the last release.

Thanks,

[2019-06-04 21:33] adamfriedland opened #1479 "Any alternative to group by but with column retention?"
Is there a current or planned solution to group by without having to sacrifice non-grouping columns?

### Example
*Table
{ Id, Name, Class }

*URI Example
baseURI?$apply=groupby((Class))

*Examle output
{{ "Id": 1234, "Name": "Foo", "Class": "Bar" }, { "Id": 1235, "Name": "Boo", "Class": "Bar" }

[2019-06-04 21:54] mikepizzo commented on #1475
Can someone confirm the version where this worked and the first version where this failed? I'm trying to track down any change that might have caused this, but don't see any changes to that part of the code for quite a while.

[2019-06-04 22:44] KanishManuja-MS commented on #1475
@francisharvey Can you make sure that the temp file path is empty if it is a file in the client code generator?
@mikepizzo I suspect it is because of the temp file I introduced for storing large metadata files in the client code generator.

[2019-06-04 22:49] mikepizzo commented on #1475
@KanishManuja-MS; sounds likely. Do you have a link to that commit? How easy is this to fix?

[2019-06-05 07:02] kuacci commented on #1470
Thank you @mikepizzo .

[2019-06-05 12:38] francisharvey commented on #1475
Hi @KanishManuja-MS, in fact, D365FO has a VERY large metadata file, so I need the temp file to be able to compile the dll. The first version on which I started the project was 7.5.0 in August 2018, but I had customized the TT file to produce the metadata string array to bypass the litteral string limit has I explained in the comment before Xavier's. Perhaps @XavierAnnabi has a later working versi

[2019-06-05 14:21] XavierAnnabi commented on #1475
Hi,
am working with dynamics NAV 2017 and 2018 the issue is related to NAV 2017 Odata V4.
with NAV 2018 when i generate the proxyclass is works but with NAV 2017 id doesn't and am getting
The type initializer for 'GeneratedEdmModel' threw an exception.

Thanks,

[2019-06-05 15:48] francisharvey commented on #1475
@XavierAnnabi, Mike was looking for a version/commit of the OData package to narrow down the issue.

I can say I downloaded source code on March 20th, and I took the ODataT4CodeGenerator class (with temp metadata file) and it was working fine since. So the issue does not seems to be directly related to @KanishManuja-MS temp file commit, but maybe few commits after...

The issue was discovered only

[2019-06-05 20:18] xuzhg commented on #1478
@eduardomgsilva, can you try the pattern like `?$filter=property in [v1, v2, ...] eq false`?

[2019-06-05 20:31] xuzhg commented on #1460
@hlymca84 besides, would you please share us your CSDL file and steps to reproduce it? Thanks.

[2019-06-06 11:35] hlymca84 commented on #1460
This i have managed to solve it, The issue was in with data, I have used enum and return result don't have that enum value so that where the issue was coming.

[2019-06-06 11:41] hlymca84 opened #1484 "oData C# Client return wrong value and duplicate record"
*Short summary (3-5 sentences) describing the issue.*
I have written OData Controller to get record, This odata call the stored procedure and return the record all working fine when checking with RestClient Call.

When i am calling this api in c# it's giving me same number of record which return from stored procedure but here many record are getting duplicated and many of them are missing.

I don'

[2019-06-06 14:06] #1478 closed

[2019-06-06 14:07] eduardomgsilva commented on #1478
@xuzhg  It worked, thank you very much.

[2019-06-07 10:48] weitzhandler opened #1485 "Support VS2019 with the client code generator"
The latest version (7.5.0) of the  [OData v4 Client Code Generator](https://marketplace.visualstudio.com/items?itemName=bingl.ODatav4ClientCodeGenerator) extension doesn't not support VS2019.
Can you please enable that?

Thank you!

[2019-06-07 10:48] weitzhandler commented on #768
@AlanWong-MS Related: https://github.com/OData/odata.net/issues/1485.

[2019-06-12 20:24] raheph commented on #1484
@hlymca84 Can you please share the response from the fiddler? Does this also happen the first time you run the client app?

[2019-06-12 20:47] raheph commented on #1372
Should default the ReadUntypedAsString to false in 8.x.

[2019-06-12 23:23] KanishManuja-MS opened #1486 "ODataCollectionStart's nextlink property gets written with WriteStart instead of WriteEnd"
ODataCollectionStart's nextlink property gets written with WriteStart instead of WriteEnd. This is problematic for value-based paging where one would want to write the next link with WriteEnd api instead to avoid enumerating the collection again.

### Assemblies affected

ODL 7.x

### Reproduce steps
Intialize a ODataCollectionStart object and write the collection. The nextlink gets written with w

[2019-06-13 12:03] LucaGabi opened #1487 "Not able to build"
Clone the project and build.cmd fails;
[code]

[2019-06-15 08:47] duynii commented on #703
I have also reported this problem. ODataUriParser does not fail when you call ParseApply() first.

`            var uri = new Uri("/Products?$apply=groupby((Name), aggregate(Price with sum as Total))&$orderby=Total", UriKind.Relative);
`

`var parser = new Microsoft.OData.UriParser.ODataUriParser(
                EdmModelHelper.GetEdmModel(),
                new Uri("http://dummy", UriKind.Absolut

[2019-06-15 14:44] Neetha-Ravva commented on #1220
hi toryb i am not clear with your 4B and 4C points could you clearly explain them.

[2019-06-15 15:19] voronov-maxim commented on #703
ODataLib 7.6.0 query contains $filter and $aggregate if you first call ParseApply throw exception on invoke ParseUri "Message: Microsoft.OData.ODataException : $apply/groupby grouping expression 'Status' must evaluate to a property access value". 'Status' filter property

[2019-06-20 17:18] keatkeat87 opened #1491 "ODataUriParser not working correct when have filter contains and operation or with parentheses"
i m trying to parse -> modify -> build back URL
when $filter + contains + parentheses + or appear
the result is not correct.

### Reproduce steps
https://github.com/keatkeat87/odata-filter-contains-with-operation-or-issus
clone to visual studio
open Index.cshtml.cs mark a break point.
F5 run.

Version
asp.net core 2.2
odata 7.1

Code

[code]

Parse and build URL, mission parentheses...
[code]

wit

[2019-06-20 20:53] madansr7 commented on #1389
@YoanX1 , Do you still need assistance with this issue? Can we close it?

[2019-06-23 19:50] RameshwariSah commented on #1220
Thank you @prezasoftwares . The solution worked. However, It takes long to modify & save the generated xml file.

[2019-06-24 04:44] zsjbsn opened #1492 "$filter use any returns badrequest"
Hi Team,

I use url "http://xxx/odata/Users?$filter=Orders/any(o: o/Products/any(p: p/Name eq 'Apple'))" to find users whose orders has Apple Product. But it returns badrequest.Is it support this filter string?
Thanks.

[2019-06-25 21:26] xuzhg opened #1493 "Fix the complex type with navigation property gap in SelectExpandOptionParser"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData .Net lib 7.x*

### Reproduce steps

* OData libraries supports navigation property on complex type.
* However, the Uri query options has a feature gap to support the complex type with navigation property. See: https://github.com/OData/odata.net/blob/8ee

[2019-06-26 20:28] KanishManuja-MS commented on #1492
@zsjbsn This might be a feature gap as ODL may not support nested any. Is there a stacktrace that you can share? It would be nice to look at this with your csdl.

@mikepizzo Does the spec support nested "any"?

[2019-06-26 20:40] KanishManuja-MS commented on #1491
@keatkeat87 This may be an issue with the building the uri. Is the parsed uri correct for you?

[2019-06-26 20:43] KanishManuja-MS commented on #1487
@LucaGabi Are you not using Visual studio 2015?

[2019-06-27 15:56] atnegrete opened #1495 "Namespace issue with odata client generator for System.Text"
On this line of the generated CS client file:
 global::System.Text.StringBuilder errorMessages = new System.Text.StringBuilder();

It complains about 'Text' does not exist in the System namespace. It is confused about which namespace to use. Replacing the above line with this works:

 global::System.Text.StringBuilder errorMessages = new global::System.Text.StringBuilder();

But it is not ideal to

[2019-07-01 07:12] kuacci commented on #1470
@mikepizzo ,

I tested the latest package and noticed that xml with 4.01 can accepted by CsdlReader. But when I access the $metadata endpoint, I go the output with version 4.0 as below. So based on my understanding that version number from $metadata should be the consistence with the xml which we feed to CsddlReader if there isn't any error, right?

[code]

[2019-07-01 11:01] cilerler commented on #1485
@mikepizzo Why we always end up short on the client side of the OData (javascript, blazor, vscode, vs2019) Would you mind discussing this subject on your next meeting, please? Thank you very much in advance 🙏

@raheph would you; please make this priority since It will not take more than 5-minute to fix

When I update the **extension.vsixmanifest** in VSIX as below
[code]

it throws

[code]

I foun

[2019-07-03 01:11] montyjain20 opened #1496 "Timeout on DataServiceContext from Microsoft.OData.Client, Version=6.16.0.0, not honored"
After setting Timeout property on DataServiceContext , doesn't get honored when calling Odata WEbapi services and connection is maintained instead of closing after the time elapsed defined in Timeout property

### Assemblies affected

Microsoft.OData.Client Version=6.16.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

### Reproduce steps

Container container = new Container(new Uri(https://s

[2019-07-03 15:29] mikepizzo opened #1497 "Support inline expressions in $filter segment"
PR #1069 implements the $filter segment according to the 4.01 CS01 pre-release specification. The OASIS TC since improved the syntax for the $filter segment. We need to update our implementation.

### Assemblies affected

OData.net 7.x.

### Reproduce steps

Attempt to use the new $filter segment syntax:
      customers/$filter(age gt 10)

### Expected result
     all customers with age gt 10

###

[2019-07-03 17:58] jnanneng opened #1498 "Navigation properties through an entity with an Enum key segment does not work."
Ex:  …/OData/v4.0/1.0/Company('CRONUS International Ltd.')/Page99441(Type=NS.Page99441.Type'Order',No='1')/Customer_Link

The OData EnumBinder turns the value of the ‘Type’ key segment into a ‘ConstantNode’ with a value of an ODataEnumValue instance.

When the @odata.Context value of the response attempts to be serialized, an exception is thrown:
The type 'Microsoft.OData.UriParser.ConstantNode' i

[2019-07-03 20:20] xuzhg commented on #1496
@montyjain20 Do you see the same behavior in OData client 7.x version?

[2019-07-03 22:22] montyjain20 commented on #1496
I haven't tried 7.x version as currently we are bound to use 6.16.0.0, Dou think its version issue and 7.x is fixed?

[2019-07-04 00:02] xuzhg commented on #1496
@montyjain20 thanks for your reply. So far, 6.x is in maintenance status, if 7.x also has the similar problem, it's better to fix on 7.x.

[2019-07-05 06:33] kuacci commented on #1470
@mikepizzo , do you have any comment about this?

Thanks,

[2019-07-05 22:53] montyjain20 commented on #1496
thanks @xuzhg . QQ is timeout property supported for ASync calls or only for sync calls. if not supported then each user of odata client library needs to implement own timeout if using async apis?

[2019-07-06 09:06] herryyannara opened #1499 "Error "Could not load file or assembly System.Linq " when deploy application desktop using Microsoft.ODataClient"
I try to use OData Client Generator using odata service from Trippin Service [https://services.odata.org/V4/(S(v35us2ydb4upkphl4id2qpwx))/TripPinServiceRW/](url), create a simple application to pull AirLines data. In development was great. Now when publish with click once on Visual Studio 2017, .Net Framework 4.6.1 and deploy to client fresh OS Win 7 + Framework 4.6.1 , error occurred

System.Type

[2019-07-06 23:10] robertmclaws commented on #1499
You likely need to check the assemblyBinding redirects in your client app to point to the most current version of the System.Linq NuGet package.

[2019-07-06 23:24] herryyannara commented on #1499
Robert, the project client app use a latest version of odata.client, and i have no idea how to check assembly binding for system.linq, because when i chek my references project it's only reference to Microsoft.odata.client, .core, .edm and.spatial. when published with click once at application file section contain only 4 reference + .tt file + exe. I could found system.linq

[2019-07-07 08:19] ZBAGI opened #1500 "Proper exclusion of 'write-only' property ?"
I'm a bit confused about OData entities structure. Let's take an example of user entity:
[code]
Fair enough but... Of course we don't want to expose Password. Fortunately there is a lot of way to exclude password from exposure. One of them is to just set it to null on return which in my opinion feels wrong as the field is marked as Required and returning null just feels wrong.

More common one is

[2019-07-07 14:09] robertmclaws commented on #1499
Either your web.config or app.config have text references to that file. Yuo can download the BindingRedirects Doctor Visual Studio add-in to try to clean up the references, or you can manually remove the entry and see if that works. You can Google "Assembly Binding Redirects" and you will get useful information on how they work. I hope that helps!

[2019-07-10 11:08] SaiSingamsetty opened #1501 "Adapter between OData and ElasticDB in .Net core"
*Short summary (3-5 sentences) describing the issue.*
I am not able to find any support to convert OData queries to ElasticSearch Queries in .Net
Is there any adapter/plugin for this requirement in OData

[2019-07-16 01:12] alberk8 opened #1504 "Does Odata support $filter Contains syntax against MongoDB"
*Short summary (3-5 sentences) describing the issue.*
I have Odata working with MongoDB doing normal Query (like all and exact match). But I cannot search data based on "Like" condition.

### Assemblies affected
Microsoft.AspNetCore.Odata v7.1.0.
MongoDB.Driver v2.8.1

### Reproduce steps
I have posted the issue on slackoverflow
https://stackoverflow.com/questions/56962714/asp-net-core-odata-on-mo

[2019-07-17 10:56] adzhilyanov opened #1505 "Support groupby with property path length greater than 2"
groupby((SingleValuedProp)) **works**.
groupby((SingleNavProp/SingleValuedProp)) **works**.
groupby((SingleNavProp/SingleNavProp/SingleValuedProp)) **does not work**.
groupby((SingleNavProp/SingleNavProp/SingleNavProp/SingleValuedProp)) **does not work**.
and so on...

We tracked this down to the OData .Net lib.

### Assemblies affected

*OData .Net 7.6.0*
*OData .WebApi 7.1.0*

### Reproduce step

[2019-07-17 20:11] KanishManuja-MS commented on #1500
@madansr7 Can you take this one?

[2019-07-18 11:16] weitzhandler opened #1508 "Feature suggestion: Client side entity manager"
# Suggestion

Back in the days of Silverlight, we had the beloved [RIA Services](https://msdn.microsoft.com/en-us/magazine/ee336308.aspx) that provided a full-blown client entity manager.

My request is that now with OData's comeback, and especially with the sunset of WCF and the development of [RESTier](https://github.com/OData/RESTier), the client-side OData support should be expanded to encapsu

[2019-07-22 09:16] swidz commented on #1220
Hi, I was able to generate the temp xml file avoiding the "combined string" error.  I have noticed that each time I update the .tt file the temp.xml file grows, the EDMX definition inside is appended. Is this a bug and the file should be overwritten instead or it happens for a reason an the file should be deleted each time we regenerate?

[2019-07-23 23:29] brjohnstmsft opened #1509 "$select parser returns empty path segment for dotted identfier"
Parsing $select=Rating,Dotted.Name should throw `ODataException`, but it doesn't. Instead, it returns two `PathSelectItems`: a `PropertySegment` for "Rating" (expected), and an empty segment for the dotted name (unexpected).

### Assemblies affected

Microsoft.OData.Core 7.5.3 with Microsoft.AspNet.OData 7.1.0.

I'm not sure whether the issue is in ODataLib or Web API OData; I haven't debugged tha

[2019-07-25 04:31] brjohnstmsft opened #1510 "Deserialization of unknown c property fails with NullReferenceException"
When `ODataMessageReaderSettings.ReadUntypedAsString` is set to `false`, deserialization of a resource with an undeclared non-empty collection property will fail with `NullReferenceException`, resulting in a useless error message for customers. The same happens when deserializing a complex collection of an abstract type where the resources in the collection are missing the `@odata.type` annotation

[2019-07-25 07:32] kuldip1490 opened #1511 "How to Handle OData Optional Parameter in C# Web API"
@xuzhg  i need EmpId as a optional

i found resource  from here [https://docs.microsoft.com/en-us/odata/odatalib/optional-parameters](url) but i don't know how to use

- Microsoft.Aspnet.OData = 7.1.0.21120

- Model

public class Employee

   {

        [Key]
        public string Id { get; set; }

        public string EmpID { get; set; }

        public string Name { get; set; }

        public

[2019-07-27 13:00] adsalnet opened #1512 "How send request to Asp.Net Core OData api in server side from client side"
I have an asp.net core api with odata and how can I call this odata from client side (this client is asp.net core mvc)

[2019-07-28 22:04] ZBAGI commented on #1500
It have been almost a month and I would love to have any answer.
It is very common scenario that should be straightforward, right ?

[2019-07-29 05:59] kuacci opened #1513 "Incorrect version output from $metadata"
Hi Team,

I tested the latest package and noticed that xml with 4.01 can accepted by CsdlReader. But when I access the $metadata endpoint, I go the output with version 4.0 as below. So based on my understanding that version number from $metadata should be the consistence with the xml which we feed to CsddlReader if there isn't any error, right?

[code]

Thanks,

[2019-07-31 21:10] KanishManuja-MS commented on #1512
Any http client should be able to call into the Asp.Net Core OData service. If you are writing a dotnet client application to call any odata service, you can use a variety of client libraries including [OData Client](https://www.nuget.org/packages/Microsoft.OData.Client/) or [OData simple client](https://www.nuget.org/packages/Simple.OData.V4.Client/).

[2019-07-31 21:26] KanishManuja-MS commented on #1501
@SaiSingamsetty  I don't have any experience of using OData over ElasticSearch but a quick bing search shows that there is a variety of third-party software such as [this](https://www.cdata.com/drivers/elasticsearch/odata/)  and open-source projects such as [this ](https://github.com/Hevelian/hevelian-olastic).

[2019-07-31 21:31] KanishManuja-MS commented on #1500
@ZBAGI There is a way to annotate with the permission but you 'd have to use fluent API. WebAPI OData won't do anything special with this annotation today but this gives you a way to advertise to the user that they won't see this in the response.

[2019-07-31 21:34] KanishManuja-MS commented on #1499
@herryyannara Let us know if Robert's suggestion helped so that we can close this.

[2019-08-01 15:51] voronov-maxim opened #1514 "Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead"
Migrate to .net core 3.0.
When use kestrel server and set EnableMessageStreamDisposal = false method await _writer.WriteEndAsync() throw exception AggregateException with inner exception InvalidOperationException
[code]

### Assemblies affected
OData .Net lib 7.6.0.30605

### Reproduce steps
[code]
### Expected result
Throw exception

### Actual result
Write end succeeded

### Additional detail
Wr

[2019-08-01 16:14] glatzert opened #1515 "Missin L in Int64 Literals"
We are querying an OData V4 API, which has mostly Int64 based Keys.
During serialization of the query into it's URI, the URI does not add "L" as suffix to the generated number, leading to an error, that the input is not correct, since it's preasumely Int32.

### Assemblies affected

Microsoft.OData.Client 7.6

### Description

We use a query like this (.NET Core Application):

var studentQuery = (

[2019-08-01 19:49] mikepizzo commented on #1510
OData library seems to be working correctly for reading untyped as value -- it will correctly read an undeclared collection of primitive or complex type as long as the ThrowOnUndeclaredPropertyForNonOpenType validation is not set and ReadUntypedAsString=false.

It is likely an issue in WebAPI that doesn't expect/know how to handle the unknown collection.

[2019-08-02 04:37] flakey-bit commented on #1484
Double check the key is set correctly in your EDMX (that was the issue for me)

[2019-08-02 08:24] glatzert commented on #1515
We had a mixup between v4 and v3 endpoints - please disregard this.

[2019-08-02 08:24] #1515 closed

[2019-08-05 02:09] kuacci commented on #1513
@mikepizzo ,

Do you have any comment on this?

Thanks,

[2019-08-06 22:57] mikepizzo commented on #1513
I'll look at this as part of our next OData Library release.  The important thing was making sure we didn't fail reading a metadata payload that specified 4.01.  I want to review with OASIS the value of writing 4.01; unless the metadata is using new constructs, then service should still be able to (and would probably be advised to) respond with 4.0.

Are you using any new constructs in your schema

[2019-08-07 13:51] tfabian opened #1518 "Add related object to a newly created entity with ODataController and DataServiceContext"
I would like to save a newly created entity with a newly created child in a single changeset (batch), with Microsoft.OData.Client 7.6.0 and Microsoft.AspNet.OData 7.1.0. The relationship between them is required: [dbo].[BoxInstance].[IdTemplateInstance] (FK, int, not null)
I've tried to call this:
[code]

This doesn't work because BoxInstance.IdTemplateInstance is 0 during the post, (ForeignKey vi

[2019-08-11 05:38] weitzhandler opened #1519 "OData service fails in ASP.NET Core 2.2"
As soon as we upgrade ASP.NET Core version from 2.1 to 2.2, the ex. method `routeBuilder.MapODataServiceRoute("odata", "odata", GetEdmModel());` throws the following exception:

HResult=0x80131509
Message=Cannot use 'Microsoft.AspNet.OData.Routing.ODataRoute' with Endpoint Routing.
Source=Microsoft.AspNetCore.Mvc.Core
StackTrace:
at Microsoft.AspNetCore.Builder.MvcApplicationBuilderExtensions.UseM

[2019-08-11 06:24] weitzhandler commented on #1519
@hassanhabib gave me a good workaround, setting `EnableEndpointRouting` to `false`:

public void ConfigureServices(IServiceCollection services)
{
  /* ... */
  services.AddOData();

  services
    .AddMvc(options =>
      options.EnableEndpointRouting = false)
    .SetCompatibilityVersion(CompatibilityVersion.Version_2_2);
}

I'm gonna close this issue, hope I don't have to re-open it.

[2019-08-11 06:24] #1519 closed

[2019-08-12 13:35] NetTecture opened #1520 "EDM: Action return type is always nullable?"
I am building an EdmModel for a code generator that is loading a published odata model. In this model, an action is defined like this:

Unbound import:
< ActionImport Name= "GeoCode" Action="Tools.GeoCode"/ >

With the action as:

< Action Name ="GeoCode">
< Parameter Name="Address" Type="Common.AddressGeoCoded"/>
<  ReturnType Type="Common.AddressGeoCoded"/>
< /Action>

AddressGeoCoded is a compl

[2019-08-12 21:30] weitzhandler opened #1521 ".NET Foundation"
Hi,

I just opened this issue to request that odata.net should be added to the [.NET Foundation](http://www.dotnetfoundation.org).

Thank you!

[2019-08-13 00:41] robertmclaws commented on #1521
Hello, and thanks for the suggestion! OData is already a part of the .NET Foundation, you can read more about it here: https://www.dotnetfoundation.org/blog/2019/06/03/welcoming-odata-to-the-net-foundation.

I would imagine that will be played up more in the weeks ahead as more things get shipped, and the teams have more time to work on the branding and documentation.

So such, I'm going to go ahe

[2019-08-13 00:41] #1521 closed

[2019-08-14 20:14] KanishManuja-MS commented on #1520
@NetTecture Have you tried explicitly adding IsNullable = False to your model?

[2019-08-14 20:34] NetTecture commented on #1520
As you can read in the metadata it is not nullable. Period. It is not defined as nullable.

Adding nullable true would manually in the consumer would totally invalidate the idea of reading the metadata document from the internet address of the odata source.

From: KanishManuja-MS <notifications@github.com>
Sent: 14 August 2019 22:14
To: OData/odata.net <odata.net@noreply.github.com>
Cc: Thomas Tom

[2019-08-14 20:50] KanishManuja-MS commented on #1520
@NetTecture Please refer to the spec, the absence of nullable implies nullability is true. You need to add nullable as false, please let me know if missed something.

https://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/csprd05/odata-csdl-xml-v4.01-csprd05.html#_Toc14190374

[2019-08-15 07:21] NetTecture commented on #1520
Whow Sorry, see it - you are right. Time to use some helper methods. Damn, my mistake.

[2019-08-15 07:21] #1520 closed

[2019-08-19 02:35] kuacci commented on #1513
@mikepizzo ,

Thanks for your comments. Currently there isn't any special construct against version 4.01. But our customer only wants the correct version number displayed consistently.

Thanks,

[2019-08-19 03:35] ankrause opened #1524 "Timeout property not available when targeting .NET Standard"
### Summary

Setting the Timeout property is not possible when building for .NET Standard.

### Assemblies affected

OData Client for .NET  v7.6.0 - Microsoft.OData.Client

Also affects earlier versions of this library, but is still not possible in the most recent stable.

### Reproduce steps

Install Microsoft.OData.Client v7.6.0 to a .NET Class library (or other project) targeting .NET Standard.

[2019-08-19 19:34] godrage commented on #1319
the part where i have to catch exceptions for the Load-Method:
`        try
        {
            changeTracker = new DataServiceCollection<AR>(context, "AR", null, null);
            changeTracker.Load(this);
        }
        catch(Exception ex)
        {
            // this will except a lot, especially if loaded object contains multiple same objects (e.g. 2 ARVA can contain the same ARVAZU)

[2019-08-19 20:54] Dosihris commented on #1079
So are there any news on that issue? Visual Studio 2019 still hasn't WCF Data Service Template!

[2019-08-20 06:36] #1470 closed

[2019-08-20 06:37] kuacci commented on #1470
#1513

[2019-08-21 20:18] madansr7 commented on #1524
@ankrause, thanks for creating the issue. We are going to put this on the backlog so the library can handle it properly. In the meantime, since every IAsync call can be canceled independently, can you try  that as a workaround and let us know if that unblocks your scenario.

[2019-08-21 20:45] madansr7 commented on #1505
@kosinsky

[2019-08-22 10:28] prochnowc opened #1529 "UriParser throws NullReferenceException when trying to filter by unknown property"
The OData.UriParser throws `NullReferenceException` when passing a filter which references an unknown collection property.

### Assemblies affected

Microsoft.OData.Core 7.6.0

### Reproduce steps

Define entity with a collection property and try to filter on a non-existent property.

[code]

Try to query the entity with a bad filter:

`$filter=Children/SomeProperty eq '234'`
I know that the filte

[2019-08-23 18:51] groogiam opened #1527 "Client Tracking Not Working"
I cannot seem to get the DataServiceContext client tracking working in my .NET Core application. Based on the documentation (https://docs.microsoft.com/en-us/odata/client/tracking) entities returned by DataServiceQuery should be tracked automatically.

When explicity calling AttachTo in the EntityMaterilaized hook I get the following error.
System.ArgumentException: 'This operation requires the en

[2019-08-28 22:27] mikepizzo commented on #1497
Actually, it looks like the first part (use parens instead of equals) is already done.

Remaining work is to support expressions within the parens, not just a parameter.

i.e., this works:
   customers/$filter(@f)?@f=age gt 10

this still needs to be supported:
    customers/$filter(age gt 10)

[2019-08-29 02:45] groogiam commented on #1527
I think I got it figured out. My client entities were not annotated with Microsoft.OData.Client.KeyAttribute. I am hand coding and completely missed that they need this as it appears the generation extension does not work with Visual Studio 2019. You can close the issue. Thanks.

[2019-08-29 07:22] adzhilyanov commented on #1505
Hey, I've been a bit busy. I will be able to address them in the beginning of next week. Hope that is ok. Regards!

[2019-08-29 19:26] mikepizzo commented on #1497
Actually, it looks like we already fixed this; the parens syntax is supported with both parameters and inline expressions. Closing issue.

[2019-08-29 19:26] #1497 closed

[2019-08-30 19:40] xuzhg opened #1530 "TypeSegment class constructor and property setting mismatch"
### TypeSegment

1. See the TypeSegment class constructor:

https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/SemanticAst/TypeSegment.cs#L51-L67

TargetEdmType is setting to "expectedType" as:
`
this.TargetEdmType = expectedType;
`

2. See the PathParser:
https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/Parsers/ODataPathParser.cs#L12

[2019-09-02 10:52] DarkGraySun opened #1531 "Exception if the entity has Equals and GetHashcode implementation"
I want to build a project with an OData interface. There exists a server and a client for this.
Server and client use an identical library of classes with which the exchange between server and client takes place (EDMModel). The problem arises when these classes (Entities) have the functions Equals and GetHashCode.
Then the client can not perform a successful update or add on the server.

### Assem

[2019-09-03 19:56] mikepizzo commented on #1513
@kuacci; can you provide a repo? Is this using OData Library directly, or through WebAPI OData stack?

I verified that reading and then writing an edmx with Version=4.01 preserves the version, and that calling SetEdmxVersion on the model before writing writes the correct version.

[2019-09-03 23:08] mikepizzo commented on #1395
It appears that this is not due to the name of the function, but the fact that the overload resolution fails when comparing a structured type to an unstructured type, which is addressed in PR #1489.

[2019-09-06 03:10] #1514 closed

[2019-09-06 16:22] #1493 closed

[2019-09-07 04:18] robertmclaws commented on #1475
I ran into this same issue when trying to use the CsdlReader to try to parse an Entity Framework 6.2 EDMX file. Feels like the parser should be able to handle node namespaces. maybe it needs to use Linq to XML instead?

[2019-09-07 15:02] kuacci commented on #1513
@mikepizzo,

Thank you for follow up this issue. You can test this issue in my below repo and let me know your comment.
* <https://github.com/kuacci/odata_1513>

Thanks,
-Tony

[2019-09-07 23:22] dmitrylobkov opened #1538 "Type cast path segments are duplicated when serializing nested resources causing high CPU load."
When serializing derived types with nested complex\navigation properties TypeSegment-s are being added to ODataWriterCore.CurrentScope.ODataUri.Path on entering a corresponding scope and are never freed on leaving the scope, i.e. the segments are added for every nested resource of every entity being processed.

When dealing with models similar to msgraph beta 'group' (we actually do:), there might

[2019-09-09 03:18] groogiam opened #1539 "Full Entity Updates are sent to Patch Verb instead of PUT"
Saving changes when **not** using a DataServiceCollection send the full entity data to Patch verb. I don't believe this is the correct semantic. The data should be sent to a PUT as it is a full entity update.

### Assemblies affected

Microsoft.OData.Client.dll 7.6.0

### Reproduce steps

See this post

https://stackoverflow.com/questions/21412326/what-is-the-correct-way-to-call-patch-from-an-odat

[2019-09-10 16:36] robertmclaws opened #1540 "Current assembly versioning structure breaks upgrades"
## The Problem
In the current build system for both ODL and WebApi, the versioning system puts a build number in the AssemblyVersionAttribute. This then gets put in the NuGet package, and that version is added to the web.config assembly binding redirects.

When you upgrade a NuGet package, the binding redirects are not automatically updated, and your app breaks at runtime. This can happen even if

[2019-09-10 22:37] kathleenwest commented on #1079
Yes, we should have access to the existing templates like WCF Data Service for backwards compatibility.

[2019-09-11 03:21] #1539 closed

[2019-09-13 23:57] xuzhg commented on #1530
Merged. Thanks.

[2019-09-13 23:57] #1530 closed

[2019-09-15 07:47] hlymca84 commented on #1484
Yes it has issue with key now it's fixed

[2019-09-15 07:47] #1484 closed

[2019-09-16 22:17] xuzhg commented on #1509
Merged at: https://github.com/OData/odata.net/commit/572082374a496b5855f28a9f66145f577029659c

[2019-09-16 22:17] #1509 closed

[2019-09-17 00:13] xuzhg commented on #1498
Merged at: c64b89775306a909fdf5e71287d08ba6012ae19c

[2019-09-17 00:13] #1498 closed

[2019-09-17 18:15] Olli64 opened #1542 "Feature suggestion?: EnableQuery without controllers."
Hey,
Is it possible to add` [EnableQuery] `support for requests without having Controller with Actions to put them into?

I'm using a middleware library that uses Endpoints(Extension for endpoints.MapGet<>()) to handle routing forward to handlers to do the work after it.

But the question pretty much just is, is it possible to enable OData queries without having actions?
In .NET there was method`

[2019-09-18 18:09] unchase commented on #1411
[Unchase OData Connected Service](https://marketplace.visualstudio.com/items?itemName=Unchase.unchaseodataconnectedservice) - extension for Visual Studio 2017/2019 that supports client-code generation for .Net Core applications.

[2019-09-18 18:18] NetTecture commented on #1411
And here is my take. WIL Lbe a dotnet core global tool so it integrated into build scripts if wanted. WOrking on it now.

[2019-09-18 18:19] NetTecture commented on #1411
https://github.com/NetTecture/CodeCore.ODataClient

[2019-09-19 10:19] avjabalpur commented on #285
I am getting following issue

The Id cannot be computed, since the navigation source 'Identifiers' cannot be resolved to a known entity set from model.
And my query is

![image](https://user-images.githubusercontent.com/6541087/65235765-e2980600-daf4-11e9-8a7a-24f96b9ef6b9.png)

also I have added MergeOption in my config
![image](https://user-images.githubusercontent.com/6541087/65235855-09eed300-

[2019-09-21 09:17] unchase commented on #1398
It's supported in [Unchase OData Connected Service v1.3.1](https://marketplace.visualstudio.com/items?itemName=Unchase.unchaseodataconnectedservice).

[2019-09-21 22:57] TheAifam5 opened #1544 "An internal error 'TypePromotionUtils_GetFunctionSignatures_Binary_UnreachableCodepath' occurred."
I'm trying to check if the property `ABC` which is an integer, has specific bits set.

### Assemblies affected

| Assembly  | Version |
| ------------- | ------------- |
| Microsoft.OData.Core  | 7.6.0  |
| Microsoft.OData.Edm  | 7.6.0  |
| Microsoft.AspNetCore.OData  | 7.2.1  |

### Reproduce steps

Send a GET request with a following query: `$filter=(ABC has 6)`
The `ABC` is an integer in my cas

[2019-09-24 04:58] gordonsnc opened #1545 "the code generator wrong code if the metadata has entiryset name container"
the code generator wrong code if the metadata has entityset name containers,
the generated code can not compile
### Assemblies affected

Latest version 7.5.1

Has a Odata service, that
uri/Odata/$metadata returns has this
<EntityContainer Name="MyProd">
    <EntitySet Name="Containers" ..>
    .......

### Expected result

the code should works like normal

### Actual result

Lots of this compile

[2019-09-24 14:58] Smilefounder opened #1546 "Is it possible to filter with json field value in a column?"
Because in our system ([Mixcore CMS](https://mixcore.org/)), we also using json inside a db column. Is it possible to filter by json field value in a column?

### Assemblies affected

v7.5.3

[2019-09-24 17:50] LimeyChris opened #1547 "Prefix issue with GmlWriter"
The GmlFormatter Write method is appending the "gml" prefix to the "srsName" attribute. The "srsName" attribute should not have the "gml" prefix.

See GmlWriter.cs, WriteCoordinateSystem method.

### Assemblies affected

7.6.1-beta

### Reproduce steps

[code]

### Expected result
[code]

No "gml" prefix for "srsName" attribute.

### Actual result
[code]

Has "gml" prefix for "srsName" attribute.

[2019-09-25 14:54] AALGate opened #1548 "[compatibility Issue] (WebAPI) Microsoft.AspNet.OData restored my project to Framework v4.6"
hello,

I have a Web API project using .NET Core v2.2 , but  it looks like this package doesn't support this new framework of Web API

### Assemblies affected

Microsoft.AspNet.OData  which also install Web.API package of the old 4.6 framework

[2019-09-25 20:20] KanishManuja-MS commented on #1546
@Smilefounder If you have the json as a string in your model, you can try using operations such as filter. If you have the json as a complex property in your model, you can use its properties to filter.

[2019-09-25 20:30] KanishManuja-MS commented on #1544
@TheAifam5 As per OData spec, has operator is for enums and is not supported for other data types.

[2019-09-25 20:57] #1505 closed

[2019-09-25 23:47] ityk opened #1549 "Unable to get navigation property on netcore if it's a Collection"
If we define EntitySet object containing List of complex object, it shows up correctly in metadata as  <NavigationProperty Name="Devices" Type="Collection(Microsoft.Online.IntelligentUpdate.Core.Datamodel.WebApi.Asset.DeviceAsset)"/>
We get proper response in Postman, but odata client is unable to deserialize it.

### Assemblies affected

Microsoft.OData.Client" Version="7.6.0"

### Reproduce step

[2019-09-26 00:07] TheAifam5 commented on #1544
Is there another way to achieve that case?

[2019-09-26 21:58] xuzhg commented on #1547
Fixed and merged. Close it. Thanks.

[2019-09-26 21:58] #1547 closed

[2019-09-27 08:12] chigivigi opened #1552 "Dynamics365 - The response to this POST request did not contain a 'location' header. That is not supported by this client."
When performing Create action to my Dynamics CRM instance I get result without location header by Web API. As we cannot change MS Web API there is a problem when library crashes without location header.

### Assemblies affected

We are using the the fallowing nuget packages: Microsoft.OData.Client v7.6.0, Microsoft.OData.Core v7.6.0, Microsoft.OData.Edm v7.6.0 and Microsoft.Spatial v7.6.0.

### Re

[2019-09-27 22:12] xuzhg commented on #1540
@robertmclaws Would you take a look the PR?

[2019-09-28 19:46] #1540 closed

[2019-10-01 09:30] norcino commented on #1053
@kevin-osborne I am trying without success to do what I was use to do using SetHasDefaultStream in OData for .net framework.
I need to add the odata media link read link and content type, can you point me to some resource or example?

[2019-10-01 09:37] kevin-osborne commented on #1053
@norcino see https://github.com/kevin-osborne/ODataSample

[2019-10-01 16:04] norcino opened #1555 "Use EntitySetConfiguration to setup MediaEntity"
**Goal**
As described here: http://docs.oasis-open.org/odata/odata-json-format/v4.0/cs01/odata-json-format-v4.0-cs01.html#_Toc365464710
I would like my entity to return mediaReadLink and mediaContentType when getting by ID an entity.

**Expectation**
Given a valid setup code as the following:

[code]
I would like to be able to add something like the below:

[code]
or alternatively:
[code]

For a r

[2019-10-01 16:54] #1544 closed

[2019-10-02 20:11] bdebaere opened #1557 "Confirm that the <UsingTask> declaration is correct"
For every project in the OData.Net45.sln I get the error below.

The "StyleCopTask" task could not be loaded from the assembly C:\Users\_\source\repos\odata.net\sln\packages\StyleCop.MSBuild.4.7.49.0\build\..\tools\StyleCop.dll. Could not load file or assembly 'Microsoft.Build.Utilities.v3.5, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system

[2019-10-03 22:59] xuzhg commented on #1552
Did you check it with Dynamics server?

From Web API OData, it sets the location header in the Created response. See https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData/Results/CreatedODataResult.cs#L129

[2019-10-04 21:59] xuzhg opened #1559 "custom annotation for nested resource info does not read out."
See detail at: https://stackoverflow.microsoft.com/questions/167966/property-instance-annotations-unavailable-on-complex-values

It's by design or by accidently?

[2019-10-06 03:45] weitzhandler opened #1560 "Cannot build with VS 2019"
Hi,

I have a VS 2019 only machine and I'm trying to build this repo.
I tried to work on it (checkout my [branch](https://github.com/weitzhandler/odata.net/tree/vs2019)), by updating the appropriate paths in the build.ps1 file, but I'm still getting errors.
I've updated this issue in MSBuild, but I felt it's appropriate tracking this from here as well.
Any advice on getting this repo built with VS

[2019-10-07 19:10] weitzhandler opened #1562 "Suggestion: include editoreinfo and vsconfig files"
While working on the [_build.ps1_](https://github.com/weitzhandler/odata.net/blob/vs2019/build.ps1) file, and as someone who's used to hit <kbd>Ctrl</kbd><kbd>K</kbd>+<kbd>Ctrl</kbd><kbd>D</kbd> occasionally (format document), I think it would be a good idea to include an _.editorconfig_ file, and also to keep the code format conventional throughout the repo. I've bumped into this in my PR (https:

[2019-10-07 21:20] madansr7 commented on #1019
the large file issue has been addressed but we need to follow up with D365 to make sure the metadata issue has been addressed as well.

[2019-10-07 21:29] madansr7 commented on #711
this should not be an issue anymore since we released the 7.x for OData Client. If this still an issue, please open a new bug.

[2019-10-07 21:29] #711 closed

[2019-10-07 21:39] madansr7 commented on #547
Cleaning up old issues, not exposing format specific control information as annotations is by design. If you still have a need to differentiate between implicit and explicit type, please open a separate issue.

[2019-10-07 21:39] #547 closed

[2019-10-07 21:45] madansr7 commented on #636
Sorry for the delay in picking this up. OData client needs to serialize numeric function parameters always as IEEE754-compatible = false.

[2019-10-07 21:53] madansr7 commented on #1250
@rifuller , we are identifying work for our next release of OData client, if you would like to make a contribution for this issue we would be happy to review.

[2019-10-08 15:23] NetTecture commented on #1508
PLEASE do not. I start getting used to the state of the odata clients - but the question is what you would even consider a client. Even assuming netstandard 2.1 (which is problematic - simple.odata.client is not working at the moment in blazor, i.e. browser side razor), I deal regualrly with 2-3 different clietns.

While having a rule them all client would be nice, I rather rely on self writte nby

[2019-10-08 15:41] robertmclaws opened #1563 "Make library debuggable w/ SourceLink"
Need to add [SourceLink](https://github.com/dotnet/sourcelink) to the project and configure .snupkg compliation so that packages deployed to NuGet contain the information necessary to step into the source code during debugging.

Related issue:
OData.net: #743

[2019-10-08 19:48] KanishManuja-MS opened #1565 "Support TLS versioning in ODataClient"
We updated our sample services to enforce TLS 1.2. However, ODataClient does not support TLS versioning.

### Assemblies affected
ODL  7.6.1 and previous versions.

### Reproduce steps

Try calling one of the reference services with OData client.

### Expected result

The request should succeed. Moreover, ODataClient should provide a configuration to specify the TLS version.

### Actual result
[co

[2019-10-09 16:26] weitzhandler commented on #1508
Simple.OData.Client is good enough, it's just not made for extensibility. No proper DI support.
Had it been extensible and we could have built caching/validation/change tracking on top of it.

Amazing.

These were merely suggestions for optional interfaces to implement, that can potentially make change-tracking (to get notified for dirty objects) easier.

[2019-10-09 16:43] NetTecture commented on #1508
I acutally am working on yet another generator for C# taht will use simple odata client internally. My main complaint with it is that ist is TOO flexible. Lots of magic strings or assumed knowledge - which means that a change in the API (which happens when you develop client and bavkend at the same time) does not lead to compiler errors but runtime errors. I prefer the later - parameter name chang

[2019-10-09 17:17] weitzhandler commented on #1508
I know. That is why I opened this issue in the first place. This should be a community project, not a one man's work.

[2019-10-09 17:30] robertmclaws commented on #1508
Gents, I know there is some unrest about the state of OData. But can everyone please keep it constructive? You folks have to remember that OData was invented with *.NET Framework 2.0 in 2007*. There's a lot of legacy code, and a lot of stuff that doesn't work in modern codebases. The teams are working on that. There's no need to take a verbal dump on everyone, and complaints about other OData vend

[2019-10-09 18:49] weitzhandler commented on #1508
RESTier should be enough as a server side OData manager. My request is for RESTier.Client, or for having the ODataClient in SOC so that it better supports DI in an extensible way allowing change tracking, undoing changes, caching, and validation to be added as add ons.

[2019-10-09 20:53] robertmclaws commented on #1508
I did not mean OData => EF, like what is currently available. It would be possible to write an EF provider over an OData service that could do pretty much all the things you're looking for... and might be easier than this. And since EF 6.3 is .NET Standard 2,1 compliant, it would run on just about anything.

[2019-10-09 20:57] weitzhandler commented on #1508
I'm not talking about server-side OData at all. I'm talking about a client-side one, that would comply to the modern standards, in terms of DI and extensibility.

[2019-10-09 21:35] robertmclaws commented on #1508
I understand what you are saying. **I'm** saying it would be possible to write code that would allow you to use the EF against an OData service **on the client**. Because EF 6.3 can now run **on the client.**

[2019-10-10 00:01] weitzhandler commented on #1508
Sorry for not understanding.
My intention was to keep the business logic in the server side, and have some of it duplicated in the client, like validation. What I usually do is just share my entities in a shared project.

Should I close this issue?

[2019-10-10 02:20] robertmclaws commented on #1508
Nah, leave it open... the team needs to see what people want.

But from a practical standpoint, given the teams other priorities, you may be better off engaging with the Simple.OData.Client project to get them to add extensibility to their DI pipeline. Because that way you might get what you want faster.

I'll delete my back-and forth on this so that the thread is clean when the OData team triages

[2019-10-10 02:21] weitzhandler commented on #1508
Me too gonna delete my comments, including this one.
The SOC team isn't really alive

[2019-10-10 02:26] weitzhandler commented on #1508
Updated my original request.

[2019-10-10 17:55] KanishManuja-MS opened #1566 "ToTypeReference error when validating a resource for a resource set"
If the scope does not have an expected type, an attempt to call an extension method on a null object may result. (TBV)

https://github.com/OData/odata.net/blob/fb0fb18332edfe2d6f4372287984bdc0ff7402ec/src/Microsoft.OData.Core/TypeNameOracle.cs#L94

### Assemblies affected

ODL 7.6.1

### Reproduce steps
Try to serialize a resource that does not exist in the schema.

### Expected result

A better e

[2019-10-14 07:46] zburek13 opened #1567 "Sql generated using oData"
When using oData's "countdistinct" in my request
http://page/route?$apply=aggregate(prop with countdistinct as result)

following sql is generated:

[code]
That throws an error
ORA-00904: "Distinct1"."C1": invalid identifier
If WHERE clause is removed everything works fine and results are valid.

Environment:
Oracle Database 11g Release 11.2.0.1.0 - 64bit Production

EntityFramework 6.2.0
Oracle.M

[2019-10-14 16:18] robertmclaws commented on #809
@mikepizzo I kow the team has been working on expanded $count support across the board... I just tried to do an $expand=NavigationCollection/$count and it failed in 7.2.2. Any idea when this will be supported?

[2019-10-15 08:53] NetTecture commented on #1305
Whow. So, a bug about a year old about a critical serialization error in the core of the EDM type system making large parts of odata useless gets removed a year later. And you wonder people are not happy with odata.

[2019-10-15 18:35] rschiefer commented on #1250
@madansr7  Its ridiculous this code is not mockable.  It is 2019 and all code should be developed with unit testing in mind.

-The generated client should have an interface that can be easily mocked.
-ODataQueryOptions should be mockable or faked.
-DataServiceQuery should be mockable or faked.

[2019-10-15 20:13] chuanboz commented on #1250
@rschiefer , Take a look of https://github.com/dotnet/corefx/issues/1624 for similar discussion on HttpClient, and reason why they decided not to introduce interface for HttpClient, but rather create a IHttpClientFactory interface.

[2019-10-15 20:15] chuanboz commented on #1250
And I do agree with you that "all code should be developed with unit testing in mind", but I have different opinion on how to achieve that.

If you give could details proposal on your solution, I think that would help driver deeper discussion.

[2019-10-15 20:17] rschiefer commented on #1250
I'm definitely open to using a factory pattern.  Anything is better than what we have today.

[2019-10-15 20:22] chuanboz commented on #1250
The support for factory pattern is already checked in here: https://github.com/OData/Extensions/blob/master/src/Microsoft.OData.Extensions.Client.Abstractions/IODataClientFactory.cs I'm still working on publish a usage document for this, and I will also try to include a sample usage for Unit Test with IODataClientFactory.

Take a look and give me feedback whether that could meet your scenario.

[2019-10-16 07:08] NetTecture commented on #1539
I am not sure you are right. Odata specs say to prefer Patch to Put and do NOT name any exception.

[2019-10-16 13:52] tomidix commented on #608
This is a joke. This kind of issue open for more than 3 years still not solved.. This should already be implemented and not only message changed for list vs array..

[2019-10-16 19:36] fbruemmer73 opened #1570 "oDataClient.cs too large to use"
Hello,

I'm using the client generator to generate an odata client for D365FO. This used to work in the past. However, since D365FO is constantly evolving and growing, so does the number of data entities and the size of the metadata. I believe we have reached a point, where the generated client code is too large to be compiled by Visual Studio. The only way to make this work is to remove parts of

[2019-10-18 01:56] WuyanLee opened #1571 ". net core 3.0 is not available"
Microsoft.AspNetCore.Mvc.Core 2.2 的使用导致 Microsoft.AspNetCore.Mvc.Core 3.0 不可用

The use of "Microsoft.AspNetCore.Mvc.Core 2.2" causes "Microsoft.AspNetCore.Mvc.Core 3.0" is not available

[2019-10-18 03:52] #1571 closed

[2019-10-18 16:31] rschiefer opened #1572 "TryGetAnnotation on OData client fails to retrieve feed metadata annotation"
TryGetAnnotation on OData client fails to retrieve feed metadata annotation.

### Assemblies affected

Microsoft.OData.Client 7.6.0

### Reproduce steps

Using this tutorial - https://docs.microsoft.com/en-us/odata/client/annotation-support

Add a custom feed metadata annotation using a custom serializer. Validate the the custom annotation is provided with raw OData call in browser. Call TryGetAnn

[2019-10-18 16:31] rschiefer opened #1573 "Feature Request: Feed annotations usage improvements"
Using feed metadata annotations is currently doable but VERY painful. It could be much better with the following improvements:

-Add IncludeAnnotations method (like IncludeTotalCount) to easily request all annotations.
-Provide get feed metadata annotations method as Dictionary<string,string> off of QueryOperationResponse.

[2019-10-18 21:22] chuanboz commented on #1250
@rschiefer , I've added one examples to the docs PR pending review (https://github.com/MicrosoftDocs/OData-docs/pull/67)

And here is the example test method that used Moq to mock ODataClient usage.

using Moq;
using Moq.Protected;

[TestMethod]
public void TestGetHappyCase()
{
    var mockHttpMessageHandler = new Mock<HttpMessageHandler>();
       mockHttpMessageHandler.Protected()
      .Setup<T

[2019-10-19 13:35] rschiefer commented on #1250
In most of my use cases it would be much easier to setup an DataServiceQuery object response in the mock instead of a string response. Then you would get compile time checking on the response properties and not have to worry with getting the string response perfect. This would require DataServiceQuery to have an interface so I could mock its underlying iqueryable data as well as any of the other m

[2019-10-20 03:54] xuzhg opened #1574 "Query option parser should not include the middle property in $expand if that property is selected in $select"
*Short summary (3-5 sentences) describing the issue.*

### Reproduce steps

1. For only have $expand, for example: `$expand=HomeAddress/Cities`, the SelectExpandClause is:
* AllSelected=True
* SelectItems: one ExpandedNavigationSelectItem

2. For have $select and $expand, for example: `$select=Name&$expand=HomeAddress/Cities`, the SelectExpandClause is:
* AllSelected=False
* SelectItems: one Expan

[2019-10-21 17:37] MolallaComm opened #1575 "count distinct possible with compound key?"
On entity sets with a single key column, i can do something like:

$apply=groupby((Model),aggregate(OntID with countdistinct as GroupCount))

which tells me how many of a specific model I have

My problem comes, how do you do the same thing on an entity set that has a compound key:

$apply=groupby((Type),aggregate(ShelfName,Slot with countdistinct as GroupCount))

I want to group by card type, but

[2019-10-22 16:53] Mankala commented on #1261
Hi, I have a requirement where $filter should work where as any other case of filter i.e. $Filter $filTer $filteR should throw an error.  How to achieve it?

[2019-10-22 17:43] chuanboz commented on #1250
I understand this is not as easy as you would expect and interface on DataServiceQuery would be your preference, but from mocking perspective do you see this could cover the scenarios you want to mock?

[2019-10-22 17:56] rschiefer commented on #1250
I couldn't use that because the maintenance of string-based responses outweighs the value of the unit tests.

[2019-10-22 19:04] davidmilligan opened #1576 "OData.net Client throws InvalidOperationException when calling 'Move' on a DataServiceCollection"
[code]

### Assemblies affected

Microsoft.OData.Client 7.6.1

### Reproduce steps

This issue appears to only be occurring on .net core 3 (we recently migrated from .net 4.7 to .net core 3 and this appears as a regression)

Call the `Move()` method on the DataServiceCollection that is tracking changes (e.g. when attempting to sort the collection for display purposes).

### Expected result

The 'M

[2019-10-22 20:56] chuanboz commented on #1250
If that is only about the string serialization, it should be easily solvable by using the entity together with Json serialization.

[code]

[2019-10-23 00:37] chuanboz commented on #1250
I do want to clarify that if there is specific proposal on how to introduce interface on DataServiceQuery, especially if someone has bandwidth to send a PR to show the proposal, I think that would be super helpful.

[2019-10-23 19:40] mxwlf opened #1579 "MS/Identity/IOData CI pipeline triggers when push to a users' forked repository"
Forked the project and pushing even to my fork's develop branch triggers a build in the Microsoft's CI pipeline.

### Assemblies affected

N/A

### Reproduce steps

Fork the project.
Create own branch "Develop" or else.
Push to your own upstream repository.

### Expected result
Should not trigger CI pipeline in the original repo.

*What would happen if there wasn't a bug.*
Should not trigger CI pi

[2019-10-23 20:22] xuzhg commented on #1579
@grumpydev-net It's interesting to hear that. Would you point us the build link and Would you please check your settings or share us your settings?

[2019-10-23 20:31] xuzhg commented on #1575
@kosinsky Can you provide any direction?

[2019-10-23 20:31] grumpydev-net commented on #1579
Sure thing, I think this is the build: https://identitydivision.visualstudio.com/OData/_build/results?buildId=417512

And can you specify which settings are you interested in?
Here is my forked repo: https://github.com/grumpydev-net/odata.net/tree/develop

Not sure if this is relevant: But just before that I opened [Pull Request #1577](https://github.com/OData/odata.net/pull/1577) and this trigger

[2019-10-23 20:33] grumpydev-net commented on #1579
Also, I don't think is related but just to explain more of my scenario:

I forked and cloned this repo as a submodule for another project I'm working on (not public) for the purpose of debugging and understanding better how the Microsoft.OData.Client works to accommodate our scenario.

[2019-10-23 20:36] xuzhg commented on #1574
$select=Name, HomeAddress&$expand=HomeAddress/City
==>
One : ExpandedNavSelectItem
Two:  PathSelectItem

[2019-10-23 20:38] kosinsky commented on #1575
Spec doesn't allow that (SQL doesn't allow COUNT(DISTINCT A,B)).
`groupby((Type),aggregate(concat(ShelfName, Slot) with countdistinct as GroupCount))`

Another option is `compute()`:
`$apply=compute(concat(ShelfName, Slot) as NewKey)/groupby((Type),aggregate(NewKey with countdistinct as GroupCount))`

Odata.net supports `compute()` in parsing
PR WebAPI https://github.com/OData/WebApi/pull/1877 (sh

[2019-10-23 20:56] xuzhg commented on #1573
It's a good suggestion. It'd be great if you can contribute and we'd happy to review it

[2019-10-23 21:07] MolallaComm commented on #1575
SQL does support it – that is what COUNT(*) is for – it will always give you the count of the items in each group whether it is grouped by one column or several.  I think the proper behavior would be to support multiple columns and always use COUNT(*) instead of COUNT(distinct A) – it is a SQL standard, works in MSSQL, MYSQL, and PGSQL, etc.

I’m not sure exactly how other people are using countdi

[2019-10-23 21:46] kosinsky commented on #1575
If you need just COUNT(*) you could use $count. For example
`groupby((Type),aggregate($count as GroupCount))`

You right, In SQL you could simulate count distinct with COUNT(*) and nested queries. The same for OData (to get number of distinct combinations of ShelfName, Slot for each Type)
[code]

[2019-10-25 09:55] jangix commented on #736
Json serialization don't work fine with Edm types.

For example, Edm.Date is serialized:
"StuffDate":{ "Year":2019, "Month":10, "Day":25 }
and not like 'Common Verbose JSON Serialization Rules' :
"StuffDate": "2019-10-25"

Does anyone know a way to serialize the entity with EDM types correctly?
It would be very important for me to find a solution.
Unfortunately as the DeepInsert is not implemented

[2019-10-25 14:04] jangix commented on #736
I share my fix for serializer with sample of converter for EDM types and other fix:

`          var nameResolver = new DefaultContractResolver { NamingStrategy = new CamelCaseNamingStrategy() };
          string serializedEntity = JsonConvert.SerializeObject(entity, new JsonSerializerSettings()
          {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
            NullValueHandl

[2019-10-26 21:44] xuzhg opened #1580 "Context Uri should refresh the sub select in complex type proprety"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData .Net lib 7.x.*

### Reproduce steps

For `~/Customers(1)?$select=HomeLocation/Street,HomeLocation/TaxNo`

The response payload context uri is:
[code]

### Expected result

[code]

### Actual result

[code]

[2019-10-27 12:33] jangix commented on #736
I share my serializer settings fixed for EDM types and other fix:

`
public static string ToJson (this BaseEntityType entity) {
var nameResolver = new DefaultContractResolver { NamingStrategy = new CamelCaseNamingStrategy () };
string serializedEntity = JsonConvert.SerializeObject (entity, new JsonSerializerSettings () {
ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
DefaultValueHandling =

[2019-10-28 11:07] Sayan751 opened #1581 "Unable to create a new entity with a nested complex type collection"
I am unable to POST a request for a new entity object creation with a collection of derived complex types, nested in a navigational property, from the generated C# OData client.

### Assemblies affected

7.6.0

### Reproduce steps

[code]

### Expected result

Expected the entity to be saved.

### Actual result

types that are assignable to the element type of the expanded link..

### Additional d

[2019-10-28 12:25] Sayan751 commented on #1581
This works when I do following.

[code]

[2019-10-28 20:07] rschiefer commented on #1250
@chuanboz did you see my PR?

[2019-10-29 08:36] bdebaere opened #1582 "Mailing address"
The mailing address, odatafeedback@microsoft.com, mentioned at https://github.com/OData is not available to send mails to.

![afbeelding](https://user-images.githubusercontent.com/1436449/67750453-839ca980-fa2f-11e9-85fd-5e1daa8a998f.png)

[2019-10-29 18:39] xuzhg commented on #1574
@xuzhg More issue:

`~/Customers(1)?$select=HomeLocation($select=ZipCode,Street)`

`ZipCode` is navigation property.

This will return all navigation properties' links in the payload in full meta:

[code]

It's not correct.

[2019-10-30 11:42] rossbuggins opened #1584 "Custom Serializer with ODataWriter.WriteStartAsync("
Not able to call ODataWriter.WriteStartAsync, exception thrown. How is it possible to enable async writing?

### Assemblies affected

Microsoft.AspNetCore.OData Version="7.2.2"

### Reproduce steps

In a class that implements ODataResourceSerializer, in WriteObjectInline call writer.WriteStartAsync
### Expected result

Write to stream asyncronously

### Actual result

Exception Thrown

[2019-10-30 20:17] xuzhg commented on #1584
@rossbuggins It's not implemented at: https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/ODataWriter.cs#L86-L94

However, it seems that we should provider the default implementation same as [here](https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/ODataWriter.cs#L328-L331)

[2019-10-30 20:30] xuzhg commented on #1579
@KanishManuja-MS is it related to the build definition at https://identitydivision.visualstudio.com/OData/_build?definitionId=927?

[2019-10-31 07:19] syprieur opened #1587 "Edm.Csdl.GetNamespaceAlias bugs"
Edm.Csdl.GetNamespaceAlias has 2 bugs which severely hinders its usage:
 - the documentation advertises that it returns null if the namespace doesn't have an alias.
However, it throws KeyNotFoundException instead.
 - it crashes with NullReferenceException if the CSDL doesn't define any namespace alias.

### Assemblies affected

All EdmLib.

### Reproduce steps

To reproduce:
 - KeyNotFoundExceptio

[2019-10-31 13:24] rschiefer opened #1588 "ApplyTo not ignoring expand as instructed"
ApplyTo is not fully ignoring the expand query options as instructed.  When debugging in the controller method the ApplyTo works as expected and I can see the correct data results but then after the controller action completes some further validation is occurring and the following error is thrown.

### Assemblies affected

Microsoft.OData.Core 7.6.0
Microsoft.AspNetCore.OData 7.2.1

### Reproduce

[2019-11-01 07:25] bdebaere commented on #695
@hidegh Am I reading this correctly that you no longer have issues with casing and thus this issue can be closed?

[2019-11-01 13:48] adzhilyanov opened #1591 "Action parameters of Complex/Entity types nullability ignored"
Having the following action defined:
[code]
When sending `null` values for those parameters:
- the nullability of the complex type param is ignored and there is no error message at all
- the nullability of the entity type param is ignored and the result is an unhelpful error message
- the nullability of the primitive type param is NOT ignored and everything works as expected (a helpful error messe

[2019-11-01 14:55] adzhilyanov commented on #1591
Additionaly, even if we have the same action with nullable parameters:
[code]
and we pass null values for the entity and complex parameters, the results are the same as described above.

@mikepizzo Sending null values for entity/complex parameters is a valid case, right?

I did a bit of digging and found out this:

https://github.com/OData/odata.net/blob/e08a3613fba6815260da1c9de0c7ee61e4baace4/sr

[2019-11-03 18:34] hidegh commented on #695
@bdebaere correct, it's working now, from that versio 7.0.0 beta or so...

[2019-11-04 06:51] EnthusedDragon opened #1592 "OrderBy specify null first or null last?"
Does OData allow us to specify for null values to come before non-null values in ascending order and consequently after non-null values in descending order?
I can't find any documentation regarding such a feature.

### Assemblies affected
Microsoft.AspNetCore.OData (7.2.2)

### Reproduce steps
Ordering by ASC forces all null values to the end of the list.
Ordering by DESC forces all null values to

[2019-11-04 13:50] mikepizzo commented on #695
Thanks @hidegh and @bdebaere; closing the issue.

[2019-11-04 13:50] #695 closed

[2019-11-04 13:54] adzhilyanov opened #1593 "Enum values are not validated against the type in the metadata when deserializing"
When an entity has an enum property or an action has an enum parameter, when deserializing the provided values are not checked if they exist in the enum type defined in the metadata. In an Untyped scenario, whatever is provided as a body is passed to the consumer. Otherwise, in a typed scenario, an unhelpful error message is produced.

### Assemblies affected

latest(master)

### Reproduce steps
H

[2019-11-04 23:43] syprieur opened #1594 "Namespace aliases support in the ODataUriParser"
*Ability to use namespace aliases in URIs given to the ODataUriParser.*

### Assemblies affected

*All.*

### Reproduce steps

*Try to give the OData parser an URI:*
   https://service.com/entitySet('id')/namespaceAlias.functionName
*Instead of:*
   https://service.com/entitySet('id')/fullNamespace.functionName

### Expected result

*The call would work with namespace aliases, as if the full names

[2019-11-06 00:09] markdstafford commented on #624
Documentation has been moved: https://docs.microsoft.com/en-us/odata/.

[2019-11-06 00:09] #624 closed

[2019-11-06 21:17] xuzhg commented on #1587
Close it

[2019-11-06 21:17] #1587 closed

[2019-11-06 21:32] xuzhg commented on #1592
@EnthusedDragon  From [OData spec](https://docs.oasis-open.org/odata/odata/v4.01/csprd06/part1-protocol/odata-v4.01-csprd06-part1-protocol.html#_Toc21423809) says:

`Null values come before non-null values when sorting in ascending order and after non-null values when sorting in descending order.`

ODL only parse the $orderby and output the Orderby clause, Web API OData consumes the clause and gen

[2019-11-08 13:06] EnthusedDragon commented on #1592
@xuzhg
I saw that in the OData spec, unfortunately it's doing the opposite for my.

The OData query is being executed on an IQueryable coming from Entity Framework, connected to a PostgreSQL Database.

[2019-11-12 14:16] rkoelbel commented on #832
I would like to fix this. Should be easy actually: https://github.com/rkoelbel/odata.net/commit/c55400d201ce4ece20d50326f99564433830871c

[2019-11-12 15:00] 8over8 commented on #1477
Hi,

Do we have a work around for this?
I have a similar issue. Using the analogy in the original post I have a single instance of Entity A with a child collection of Entity B. Setting the PageSize property for the EnableQuery attribute on an ODataController will affect the child collection. E.g. if set to 10 then the child collection will only return the first 10 records. However, I do not get a

[2019-11-15 01:01] Sreejithpin commented on #1574
I was looking at #1574: Query option parser should not include the middle property in $expand if that property is selected in $select

I tried executing SelectAndExpandOnComplexIncludesBoth Unit test having select and expand text as
const string selectClauseText = "Address/City";
const string expandClauseText = "Address/Residents"

which as per defect should have 3 SeleteItems in Select and Expand

[2019-11-20 14:49] negue commented on #1485
I changed all places like explained by @cilerler but its still not able to install it

[2019-11-20 18:40] xuzhg commented on #1594
Merged, thanks.

[2019-11-20 18:40] #1594 closed

[2019-11-21 00:42] cilerler commented on #1485
Try this one please

[ODataT4ItemTemplate.7.5.1.vsix.zip](https://github.com/OData/odata.net/files/3872206/ODataT4ItemTemplate.7.5.1.vsix.zip)

[2019-11-21 10:21] b1ueRa1n commented on #1318
Thanks,@mikepizzo. you are right! but I have a question: Why the request 'ModifiedByDisplayName eq 'Gaurav Anand' AND (FileModifiedTime gt 2018-08-24T22:06:36Z)) '' is work, too? Despite The request contains colons. But it is short.

[2019-11-22 10:05] negue commented on #1485
Worked, thanks!

[2019-11-26 11:29] AviKumarRaj opened #1600 "OData Error in AzureAD Graph API"
*Short summary (3-5 sentences) describing the issue.*

Azure AD Graph Api is not related to odata.net project - but still trying to gather information about this error- when Azure AD AssignLicense Api is called.

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData .Net lib 6.15-beta.*

### Reproduce steps

*The simplest set of steps to reproduce the issue. I

[2019-11-26 15:40] marabooyankee commented on #1320
@VirusQuartirus The library should work well for any platform as only CRLF is a valid separator in both Multipart messages and in the HTTP protocol as per the multipart [RFC ](https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html#z0) and the HTTP protocol [RFC](https://tools.ietf.org/html/rfc7230#section-3). Hence any platform should explicitly use CRLF when composing messages.

[2019-11-26 15:40] #1320 closed

[2019-11-26 17:16] KanishManuja-MS commented on #1600
@AviKumarRaj Can you please provide us with more details about the request?
Interesting thing that you mention is that this started failing yesterday. Did anything change on your end?
AD Graph uses OData and thus the OData Error. You should reach out to the AD Graph team and if you are unable to, we would be happy to help.

[2019-11-26 18:51] mikepizzo commented on #1600
We've reported this to the AD Graph team and they are investigating.  They did deploy some changes recently, which may have caused this behavior.

[2019-12-02 11:36] AviKumarRaj commented on #1600
@mikepizzo and @KanishManuja-MS for the response and reaching out to AD team.
There are no changes done in my end. Please let me know if I can contact ADGraph Api team ? This GitHub project is for "MS Graph API" - not sure if they support "Azure AD Graph API".
https://github.com/microsoftgraph/microsoft-graph-explorer-api

API used: Azure AD Graph. https://docs.microsoft.com/en-us/previous-version

[2019-12-02 18:44] mikepizzo commented on #1600
A fix for this issue on the Azure AD Graph side was identified and merged.  There was a freeze on deployments over the holiday week-end, but it should start to be rolled out soon.

[2019-12-02 19:23] AviKumarRaj commented on #1600
Thank you @mikepizzo .

[2019-12-03 07:47] habbes commented on #636
I could not reproduce this issue.

I created a service exposing a function that accepts as a parameter a collection of complex types that includes a long property. Both the service and client class worked as expected.

[2019-12-03 11:10] gideonmulder commented on #1333
For those looking for a workaround, I use this.
Before you execute, modify the internal RequestUri (no guarantee):

`query.GetType().GetProperty("RequestUri").SetValue(query, new Uri(query.RequestUri.AbsoluteUri + "&$apply=groupby((LabApplicationId,ReferenceNo))"), null);`

[2019-12-04 06:56] mikepizzo opened #1604 "Async functionality in ODL broken"
There are a few issues in ODL wrt async support:
1) Apparent bug in AsyncBufferedStream; calls FlushSync() on asyncstream, rather than FlushAsync
2) Async functions in ODataWriterCore that call implementations that call writer.WriteEnd() are broken.
	-WriteDeltaLink, WriteDeltaDeletedLink, WritePrimitive
3) ODataMessageWriter.CreateODataResourceSetWriterAsync and CreateODataDeltaResourceSetWriterA

[2019-12-04 07:54] habbes commented on #636
@premiaware could you check whether your issue occurs in newer versions of the library? If it does, please create a new issue. I'll close this one. Thanks.

[2019-12-04 07:54] #636 closed

[2019-12-04 14:10] MonkeyTennis opened #1605 "OData Core: Multiple POST operations require uniquely named controller methods, whereas other HTTP verbs do not"
If a controller for a given entity contains two methods that support the POST verb, the routing algorithm picks the one that is higher in the class, regardless of the contents of the ODataRoute attribute or the method signature.

This effect does not seem to manifest for DELETE or GET verbs.

This is very misleading for developers who are under the impression that the ODataRoute attribute dictates

[2019-12-05 19:14] #1019 closed

[2019-12-06 07:05] GoneWithWind opened #1606 "Unable to set metadata Xml output indent"
In Microsoft.OData.Core.6.15.0 we are able to control the indent behavior of the metadata Xml output through the ODataMessageWriterSettings.
![image](https://user-images.githubusercontent.com/5491882/70302751-c294fa80-1838-11ea-9b67-1c4b1f740008.png)
But there are no options exposed in Microsoft.OData.Core.7.6.1.0:
https://github.com/OData/odata.net/blob/f7041173b1fa5c4d0b73307f12cabbdc64125b7f/sr

[2019-12-10 18:03] #1475 closed

[2019-12-10 18:04] xuzhg commented on #1475
Fixed at c719a53dfc089bc8e2c191532bed25d6d28f917e

[2019-12-10 18:09] xuzhg commented on #1576
Merged at c3b63c0b81f94aa4bb15d6603fac95e6c2c33474

[2019-12-10 18:09] #1576 closed

[2019-12-10 18:35] nsarris commented on #1305
I traced the issue here:

https://github.com/OData/odata.net/blob/576c4ab0337bb1cecda85f4199bcc406d55b787b/src/Microsoft.OData.Core/ODataParameterWriterCore.cs#L437

The VerifyCanWriteValueParameter method checks if the parameter is of Primitive/Enum/TypeDefinition kind and if not fails with a message that says the parameter cannot be other than Primitive/Enum/Complex kind.

Either the message or

[2019-12-10 20:34] YishaiHornbacher opened #1608 "Calling Page(0, 0) throws exception with incorrect error message"
calling `ODataModelBuilder.EntitySet<T>("someName").EntityType.Page(0,0)` throws the following exception:

### Assemblies affected

AspNetCore.OData 7.3.0-Nightly201911222308, but likely a more general problem.

### Reproduce steps

`new ODataConventionModelBuilder(app.ApplicationServices).EntitySet<SomeObject>("SomeObject").EntityType.Page(0, 0).GetEdmModel();`

### Expected result

Either it wou

[2019-12-11 14:59] tfabian commented on #241
I migrated an OData web service form .Net framework 4.72 (Katana) to Kestrel net core 3.x (nightly build). It seems that I'm facing the same (similar) issue as you 4 years ago.

Client side code:

[code]
Startup:

[code]
Controller:

[code]
In case of batch operation the uri is "$44". How is it possible to get the ID of the newly created entity? In case of SaveChangesOptions.None it can be extract

[2019-12-11 17:13] udaysaikumargarlapati commented on #1318
Guys, I also faced this issue after spending too much time,I came up with one solution like I have encoded the url first and then I have done uri.escapeuristring(encodedurl)

This solved my problem.

[2019-12-11 19:18] agladshteyn commented on #1354
Any update on this?  I am also running into the same exact issue. Any information is greatly appreciated.

[2019-12-12 02:19] mikepizzo commented on #1318
@udayasaikumargarlapati: What version of OData Library were you using? This is due to an issue in System.Uri, and we implemented a workaround in OData Library in May.

[2019-12-12 02:26] mikepizzo commented on #1318
@b1ueRa1n - the reason it isn't a problem for short Uris is that System.Uri parses everything up until the first colon as the scheme, and as long as that is less than 1000 characters it accepts it.

[2019-12-12 02:53] udaysaikumargarlapati commented on #1318
@mikepizzo i am hitting the encoded fetchxml url of CRM in webapi c# with contains multiple colons.so after encoding I have did escapeuristring,then it is working

[2019-12-12 10:01] tfabian opened #1610 "AddLink (CreateRef) for new entities does not work with batch operations"
I migrated an OData web service from .Net framework 4.72 (Katana) to Kestrel net core 3.x. The same code works with Microsoft.AspNet.OData (net framework 4.72). It's not possible to add link to a newly created entity in a batch.

Client side code:

[code]
Startup:

[code]
Controller:

[code]
In case of batch operation the uri is "$44". How is it possible to get the ID of the newly created entity?

[2019-12-13 16:20] ihtfp69 opened #1611 "Error messages returned from an OData V4 service throw an exception and no data is returned"
If the odata service returns an error object like below, the library throws a DataServiceRequestException and no data is returned as a result. If the service returns a status code 404, it does not even attempt to parse the error. If I force the status code to 200, it parses the error, sets the Error property of the ChangeOperationResponse, but then changes the status code to 500 and throws the sam

[2019-12-16 10:06] demogog opened #1612 "Timeout when using with Dynamics365"
When retrieving a small amount of data (e.g. `var cust = context.Customers.FirstOrDefault();`) the operation times out.

### Assemblies affected

Microsoft.OData.Client version 7.6.2

### Reproduce steps

A task, that retrieves a first customer each 5th second can run for a couple of days or it can fail after 5 minutes. Once it failed with TimeOutException, windows application running the task has

[2019-12-26 16:47] raffaeler commented on #1335
This extension method can be used to avoid the mess:
[code]

Usage:
[code]

Note: the client context code was generated in a .NET Core 3.1 library using the [Unchase generator](https://marketplace.visualstudio.com/items?itemName=Unchase.unchaseodataconnectedservice) installed on VS2019.

HTH

[2019-12-28 00:29] dvanschepdael opened #1615 "Error on $expand with a [NotMapped] property"
Hi!

I don't know if it is a bug but it worked on the previous version.
The problem occurs when I tried to $expand a (collection type) property marked as [NotMapped] but added to EDM with HasMany().

### Assemblies affected

Microsoft.AspNetCore.OData v7.3.0

### Reproduce steps

Repo: https://github.com/dvanschepdael/ODataBug
Test: http://localhost:5000/api/Articles?$expand=tags

### Expected res

[2020-01-01 11:27] SimoneBWS commented on #1524
Hi @madansr7 ,
Is there any news for Timeout property? It's most important to have the same experience between dotnet Framework and dotnet Core (see also **HttpClient in OData Client**).
We plan to bring a WPF application on dotnet core 3, but base libraries such as Microsoft.OData.Client must be perfectly compatible otherwise it becomes a mess.

Happy New Year 😀

[2020-01-03 17:53] MiaoDensmore opened #1617 "call stack returned in odata response"
### Assemblies affected

Microsoft.AspNetCore.OData

### Reproduce steps

In a non-development environment, if the odata stack invalidates an otherwise valid response, for example, if I did not specify “routes.MaxTop(null)” and there is a request coming in with “Top=100”, the response received by the caller will be something that looks like:

Id = 48, Status = RanToCompletion, Method = "{null}", R

[2020-01-05 18:25] ysmoradi commented on #1305
)-:

[2020-01-05 18:37] ysmoradi commented on #1305
At the moment you can use HTTP client and be sure that nothing serious is being checked in that if condition.

[2020-01-06 13:31] gathogojr commented on #1610
Hi @tfabian. I'm currently investigating this issue and I'm hoping you can provide me with more details:

- Which version of Visual Studio are you using?
- Which particular version of .NET Core are you using - 3.0 or 3.1?
- Are you using Entity Framework 6 or Entity Framework Core, and which version in particular?
- How are User and Role classes related - One-to-Many, Many-to-Many, etc? This is re

[2020-01-06 15:38] habbes commented on #1565
Hi @KanishManuja-MS could you specify the reference services we could use to reproduce the issue? I created an OData client for the TripPin service and was able to fetch data from the service successfully. My code was using OData client 7.6.2. I tried to use 7.6.1 and I was still able to fetch data from the service. Or could you share more detailed steps on how to reproduce the issue?

[2020-01-06 18:05] KanishManuja-MS commented on #1565
@habbes I wonder if that is because we have turned off the minimum TLS version for the sample service. You would need to JIT into azure portal and check that. I will confirm if that is the case once I have my saw running.

[2020-01-07 09:49] habbes commented on #1565
Hi @KanishManuja-MS. I'm not sure what you meant by "JIT into azure portal", but I have tried other ways to reproduce the issue without much success.

I have a created a sample OData service and an OData client application. I enforced TLS 1.2 on the service and was still able to successfully fetch data using the OData client. Here's the repository containing both the service and client projects: h

[2020-01-07 11:07] tfabian commented on #1610
Hi **@gathogojr**,
- Visual Studio 2019 Enterprise version is 16.4.2
- .NetCore version is 3.1
- EF 6.4
- relationship is many to many

[code]
-The definition for CreateRef does not contain key, because I'm extracting it dynamically from [FromBody] Uri link, so it can be int, string or a composite key. The same signature works in .Net Framework 4.72 Microsoft.AspNet.OData 7.1.0. Method argument li

[2020-01-07 12:28] gathogojr commented on #1610
@tfabian Thank you for the detailed response. I was actually able to reproduce the issue - against 2 different combination of packages:

- .NET Core 3.1 + Microsoft.AspNetCore.OData 7.3.0
- .NET Framework 4.7.2 + ASP.NET Core 2.1 +Microsoft.AspNetCore.OData 7.3.0

I was also able to confirm it works perfectly against .NET Framework 4.7.2 + Microsoft.AspNet.OData 7.x

Its still early in my investig

[2020-01-07 13:32] benitazz opened #1619 "Expand returning duplicate data"
The expand returns the duplicate data on the instance and untypedInstance.

### Assemblies affected

*Which assemblies and versions are known to be affected  = AspNetCore.OData .Net lib 7.3.0 , Asp.netCore 3.1

### Reproduce steps

    public IActionResult GetAll(ODataQueryOptions<LrsAttrTypeResource> options)
        {
            try
            {
                var query = this._repository.Get

[2020-01-08 04:49] habbes commented on #1565
As discussed with @KanishManuja-MS, I am closing this issue. The issue can be re-opened if the error re-surfaces.

[2020-01-08 04:49] #1565 closed

[2020-01-08 08:33] KenitoInc commented on #1611
@ihtfp69 Have you tried this `SaveChangesAsync(SaveChangesOptions.BatchWithIndependentOperations)`
The `BatchWithIndependentOperations` flag saves each change independently in a batch request and returns a ChangeOperationResponse for all succesful and failed requests

[2020-01-08 13:22] joostverhoog opened #1620 "CsdlReader doesn't load transitive references"
`CsdlReader.TryParse` has an argument `getReferencedModelReaderFunc`, that it uses to resolve an `edmx:Reference`. However, when this referenced files also has an `edmx:Reference`, this does not get loaded.

### Assemblies affected

Microsoft.OData.Edm

### Reproduce steps

Use CsdlReader.TryParse on an Edmx file A that references another Edmx file B which in turn references another Edmx file C.

[2020-01-09 09:09] Gforse12 opened #1622 "Question: AutoUpdate Collection"
When a Entity is created/updated on the server the server than returns the entity in the repsone body. Is there a way/boolean that takes this data and automatically update the collection? For example when creating a Entity the ID is empty because this is generated on the server. If we POST a new Entity to the server the server will return the newly created Entity WITH the ID value.

[2020-01-09 09:53] kenneth-hansen opened #1623 "IN operator fails on strings with commas in them"
ODataUriParser.ParseFilter throws if any of the IN operator's string parameters contains commas.

### Assemblies affected

7.6.2 (but probably all versions)

### Reproduce steps

Just create a filter ala: "?$filter=propertyName in ('a','x,y,z')"

### Expected result

Should parse normally.

### Actual result

ODataUriParser.ParseFilter throws an exception.

Microsoft.OData.ODataException
  HResult

[2020-01-09 10:43] Gforse12 opened #1624 "Question: Assign Entities"
I was wondering how would one assign two entities to each other? For example:

I have two objects, one is `Product` and the other is `Manufacturer`. I query the collection to see if a Manufacturer has to be assigned to a `Product`. If so the documentation of the API i use states that one can assign a Manufacturer by calling this: `POST http://server.com/odata/v1/Products(1)/ProductManufacturers(12

[2020-01-09 18:04] cfauchere opened #1625 "Action and open-type"
I have been playing around with OData actions and functions. As documented I can add parameters to an action using the Parameter<> method but it forces me to declare every single parameter which does not work well if the action acts on an open-type. Adding extra parameters to the request leads to a null ODataActionParameter.
The ugly workaround I have found is to create an open-type property bag c

[2020-01-10 04:27] gathogojr commented on #1610
@tfabian I have a draft [PR](https://github.com/OData/WebApi/pull/2012) out. You can take an early peek. In the process of adding a couple of tests to verify the described scenario

[2020-01-10 10:33] tfabian commented on #1610
great thx

[2020-01-10 11:27] rleos opened #1626 "Problem while translating the OData groupBy request to EF Core request"
I'm upgrading OData and EF Core to 7.3.0 and 3.1. After doing so, i'm seeing new errors when trying to get a groupBy working. The same request did work before.

I wasn't sure if i should open an issue here or on EF Core github. If i'm wrong feel free to tell me and i'll move it.
The request that fails for me is : $apply=groupby((Actif))

### Assemblies affected

Microsoft.AspNetCore.OData 7.3.0
Mi

[2020-01-10 12:00] Gforse12 opened #1627 "BUG: Request.Method and Request.HttpWebRequest.Method are different"
When deleting a Entity and then calling SaveChanges i noticed that the server returned an error. While investigating with wireshark i discovered that the HTTP method was set to POST instead of delete. I debugged the values in the event SendingRequest2.

The screenshot below demonstrates the bug where ActualMehtod is POST and the method is DELETE (which is the right one):
![Annotation 2020-01-08 15

[2020-01-10 14:51] KwalityKoder commented on #463
Hi, we are in a position where we need to use a groupby on a property inside a collection, and are getting the same error message reported here, despite the fact that the Odata query is valid in terms of the OData v4 spec. Any idea will this bug be fixed? It's been open for over 3 years now. We are using v7.3.0 of the Microsoft.AspNet.Odata NuGet package.

[2020-01-14 11:43] jan-johansson-mr opened #1630 "Question: When do you think endpoint routing for OData is available?"
Hi,

Thanks for a good project!

I am curious to when you think OData will be enabled with endpoint routing (as written in the [dev blog article](https://devblogs.microsoft.com/odata/experimenting-with-odata-in-asp-net-core-3-1/))?

Kind regards,
Jan Johansson

[2020-01-14 17:26] xuzhg commented on #1627
@Gforse12 Would you please share us some links about your codes?

[2020-01-14 17:32] xuzhg commented on #1626
@kosinsky Can you please take a look this issue and provide your suggestion?

[2020-01-14 17:52] xuzhg commented on #1622
@Gforse12   "Location" in the response header includes the location/ID for the new created/updated entity.

[2020-01-17 08:54] kenneth-hansen opened #1636 "Backslashes in string literals in IN expressions need to be escaped but not in other expressions like EQ"
Backslashes in string literals in IN expressions need to be escaped but not in other expressions like EQ.  So the string in "x eq '\k'" will become "\k" but "x in ('\k')" will throw because \k is not a valid escape sequence.  Conversely the string in "x eq '\\\\'" will become "\\\\" whereas "x in ('\\\\')" becomes "\\".

### Assemblies affected

7.6.2 (but probably all versions).

### Reproduce st

[2020-01-19 19:15] atrauzzi opened #1638 "Can odata.net be configured to output snake_case JSON?"
I would love to be able to configure the output of my odata endpoints to be `snake_case` rather than `camelCase` or `PascalCase`! 🙂

[2020-01-20 03:40] atrauzzi opened #1639 "Feedback: Setup, pain points"
I wanted to just share a little bit of feedback about my experience getting my first odata resources working in .net core 3.1.

I don't suspect any of what I encountered is related to .net 3.1, but instead is mostly around the nature of how this library applies the notion of "convention".

Put simply, I think this project could benefit from a few key improvements:

 - Publish cleaner and more comp

[2020-01-20 03:41] atrauzzi commented on #1639
Oh, by the way, see this: https://stackoverflow.com/questions/55728791/pagination-with-aspnetcore-odata-missing-odata-properties-in-response

I had to stumble upon this self-answered Stack Overflow question - entirely by chance - before I could solve my controller issue!

[2020-01-20 11:53] xsmerek opened #1640 "ODataJsonLightBatchBodyContentReaderStream assumes that batch part body is IEEE754Compatible"
When sending a batch request that includes PATCH on entity with decimal property, the oData .Net lib automatically assumes that body of request item in in IEEE 754 compatible format with regards to actual item `Content-Type` header.

### Assemblies affected

OData .Net lib 7.6.1

### Reproduce steps

https://github.com/xsmerek/BatchDecimalRepro

Steps:

1. Run IIS Express.
2. Send POST request to

[2020-01-20 12:01] KenitoInc commented on #1477
@8over8
Let me clarify a few issues
1. `top` & `skip` are only used on client side pagination. Server side pagination is driven by PageSize property in the EnableQuery attribute e.g *[EnableQuery(PageSize =2)]*. When we do the server driven paging, server always returns next page link to the response body. In Client side paging, we do not have a next page link in the response.
2. If the total numb

[2020-01-20 12:03] KenitoInc commented on #1477
@cory-hrh
I have created a service similar to what you have. I wrote the client code below and I managed to get the nested pagination links. Kindly try it and confirm if it works for you.

Below is the code I have used to recreate the issue

            Container dsc = new Container(new Uri("https://localhost:44334/"));
            DataServiceQueryContinuation<Parent> nextLink = null;​

[2020-01-20 12:14] KenitoInc commented on #1611
@ihtfp69 Did you manage to try out the code above? We would like to close this issue

[2020-01-20 12:19] KenitoInc commented on #1446
@groovyfeng @KanishManuja-MS
It seems the Odata Client has the ability to use relative URIs. The code below worked for me

[code]

[2020-01-20 12:28] 8over8 commented on #1477
@KenitoInc firstly, thanks for the reply. My original post does seem to merge the two types of pagination into a single question. For the confusion, I apologise. Regarding usage of PageSize I could see this affecting the result set and being applied. I was not getting next and prev links returned and I do remember there being considerable records in my DB for there to be enough several pages of en

[2020-01-20 12:56] KenitoInc commented on #1477
Hey Andrew @8over8 ,
Let's test using the Trippin Service

The query below return ALL people
https://services.odata.org/TripPinRESTierService/(S(juqvmnem2qpijynyewk4pld5))/People

The query below return the first 2 items
https://services.odata.org/TripPinRESTierService/(S(juqvmnem2qpijynyewk4pld5))/People?$top=2

The query below return 2 items (It will skip the first 2 items and return the 3rd and

[2020-01-20 13:01] 8over8 commented on #1477
Those examples you have provided will work and I have seen them working. However, the example i gave is using the $top and $skip within a $expand statement e.g:

URL: {server}/odata/As({id}?$expand=Bs($top=5;$skip=0)

The parser parses this with no issues but then ignores the application of $top and $skip for the nested collection.

Is this expected behaviour or not? if so, why?

[2020-01-20 13:02] KenitoInc commented on #1477
@8over8
For your specific example

We get ALL Trips associated with Person russellwhyte
https://services.odata.org/TripPinRESTierService/(S(juqvmnem2qpijynyewk4pld5))/People('russellwhyte')?$expand=Trips

We get the first 2 Trips
https://services.odata.org/TripPinRESTierService/(S(juqvmnem2qpijynyewk4pld5))/People('russellwhyte')?$expand=Trips($top=2)

We get the 2nd and 3rd Trip
https://services.

[2020-01-20 13:08] 8over8 commented on #1477
OK so it's something that I am doing wrong on my side. At least I know it's supported. Thanks

[2020-01-20 13:09] KenitoInc commented on #1477
Probably! Look at your service again. Am glad I have clarified what you wanted. You can look at this doc for more query options https://docs.microsoft.com/en-us/odata/concepts/queryoptions-usage

[2020-01-21 19:52] groovyfeng commented on #1446
@KenitoInc, Thanks for following up. In my scenario, I am not constructing the batch request directly. Instead, I am calling cache updating functions like UpdateObject and then SaveChangesAsync() with the BatchWithIndependentOperations option. The lib generates the batch request and it does not have the option to convert the batched request URI to relative.

[2020-01-22 17:19] Sreejithpin commented on #1638
@atrauzzi , You can create snake_case properties and that's totally valid. Or did you want an auto conversion from camelCase or PascalCase properties (in edm model )to snake_case for json o/p?

[2020-01-22 17:32] Sreejithpin commented on #1639
@atrauzzi . Thanks for the input. We are definitely trying to improve our documentation process, especially for new users and we are in the process of that. Meanwhile in your search did you stuble on https://docs.microsoft.com/odata ?, if so will be great to know if you find it will be helpful?
Also WebApi is designed to give full control to the developers. However we have a wrapper on top of weba

[2020-01-22 17:47] Sreejithpin commented on #1640
@xsmerek , Thanks for reporting this issue. This does look like an issue, will investigate.

[2020-01-22 18:02] newclaus opened #1641 "OData v4 client does not support null values for properties of ICollection<TComplexObject>"
OData Web Api Client throws exception in case of passing null value to property of ICollection<T> during executing action. Although my EdmModel supports null-value

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. Microsoft.OData.Client 7.6.2

### Reproduce steps

Call service action and pass object with null-value property

### Expected result

Null values all

[2020-01-22 20:07] atrauzzi commented on #1639
I did see that documentation and unfortunately those were some of the docs I followed that didn't give me a working setup.

Also, I'm not necessarily trying to use WebApi, though it's not clear to me whether odata requires webapi or builds on it (you've somewhat clarified that here a little) and what the difference is between WebApi and....?? I'm not sure what else?  I just have a POCO controller.

[2020-01-22 20:09] atrauzzi commented on #1638
Auto conversion in EDM.  I'm working with a model that's reverse engineered out of an existing DB that follows that convention. I don't want my .net types to be impacted by something like that. 😉

[2020-01-23 07:29] odero commented on #1606
@GoneWithWind It is by design - because of data size performance, non-indent was found to be better - that's why it was dropped.

[2020-01-23 07:29] #1606 closed

[2020-01-23 13:24] KenitoInc commented on #1611
@ihtfp69 Closing this issue for now. You can reopen it if the above code doesn't work for you.

[2020-01-23 13:24] #1611 closed

[2020-01-23 13:28] KenitoInc commented on #1477
Hi @cory-hrh
Did you have a chance to look at the code I shared above? I would like to hear your thought.

[2020-01-23 14:19] cory-hrh commented on #1477
Hi @KenitoInc
We haven't yet but we expect to find time to look into this next week.

Just to confirm, is your code using the Client Code Generator or have you written it all manually? As mentioned in the first post we were using the Visual Studio OData Client Generator extension and were seeing this issue and there hasn't been a published update for that generator since then?

[2020-01-23 16:04] KenitoInc commented on #1477
@cory-hrh I tested this code with the Odata Client Code generator to generate the proxy classes as you did. I think what's different is how you enumerate and consume and your next page links. Look at the code I share and get back to me

[2020-01-24 05:24] newclaus commented on #1641
@Sreejithpin, yes, I did. Furthermore, the property in client EDM model has Type

`Microsoft.OData.Edm.Csdl.CsdlSemantics.CsdlSemanticsCollectionTypeExpression`

and debugger displays value like

`{[Collection([ItemModel Nullable=True]) Nullable=True]}`

[2020-01-24 08:33] KenitoInc opened #1643 "Allow Microsoft.OData.Client.Serializer.GetKeyString to receive an IDictionary Object"
When working on a fix on issue https://github.com/OData/lab/issues/96 I realized that OData Client's Serializer.GetKeyString receives a DataServiceContext Object and a Concrete Dictionary instead of an IDictionary. Since Dictionary implements IDictionary, we can update the method as follows
public static string GetKeyString(DataServiceContext context, IDictionary<string, object> keys)
{
       //

[2020-01-24 17:47] xuzhg opened #1644 "Collection of Edm.PrimitiveType should work in IN operator"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData .Net lib >= 7.6*

### Reproduce steps

Implementation in IN operator for collection has some hard codes, for example https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/Binders/InBinder.cs#L108

However, such codes can't wo

[2020-01-24 18:47] xuzhg commented on #1623
Fixed and merged. Thanks.

[2020-01-24 18:47] #1623 closed

[2020-01-24 18:47] xuzhg commented on #1636
Fixed and merged. Thanks.

[2020-01-24 18:47] #1636 closed

[2020-01-25 08:05] premiaware commented on #851
OData v 7.6.2
I have a similar case. the follow code working only the a.ID == ID exist, if the query return empty result the exception is throw with InnerException = "NotFound", why this problem? and how can fix it?

try
                {
                    var accesso = (await (((DataServiceQuery<AnagraficaTokenAccesso>)(from a in _containerPrimario.AnagraficaTokenAccesso

[2020-01-26 13:36] pavinan opened #1645 "Question: How to do ABAC with OData."
Are there any docs/samples. related to securing and restricting access to data in the .Net core?

For example, I don't want to return "BillingAddress" property from an "Organisation entity" for a user with "Basic" role.

[2020-01-27 09:37] jsteff opened #1646 "Question: Is it possible to combine lambda operators with the IN logical operator?"
This is more a question than describing a bug. I am not able to make a query in which there is usage of lambda operators and the IN logical operator.

### Reproduce steps

As an example this is the query.
`https://services.odata.org/TripPinRESTierService/Me/Friends?$filter=Friends/any(f:f/LastName in ('Whyte', 'Mundy'))`

### Expected result

To filter the list by the LastName property if it is on

[2020-01-27 12:18] VirusQuartirus opened #1647 "Support of $levels expand option in OData client."
Is this option is supported by ODataLib client or is it about to be supported?

[2020-01-27 15:24] #1527 closed

[2020-01-27 17:32] KanishManuja-MS commented on #1646
@jsteff Try using parameter aliasing. Can you try something- https://services.odata.org/TripPinRESTierService/Me/Friends?$filter(@p)&@p=Friends/any(f:f/LastName in ('Whyte', 'Mundy'))

[2020-01-28 00:20] odero commented on #787
@mikepizzo are there any docs/resources that can be used by someone implementing this?

[2020-01-28 00:26] odero commented on #739
Needs verification to check whether this was fixed by https://github.com/OData/odata.net/pull/740

[2020-01-28 02:54] odero commented on #1638
@atrauzzi There's no auto-conversion support however you should be able to user the `DataMember` attribute to generate in snake_case https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.datamemberattribute
Would that work for your case?

[2020-01-28 05:06] KanishManuja-MS opened #1649 "Parameter matching for function has an issue"
*Short summary (3-5 sentences) describing the issue.*
There is a bug in the way we match URI parameters to function parameters. For case-insensitive matching, the same parameter in the URI can be used to match with multiple parameters in the function's uri. It is uncommon for functions to have same name for parameters but it is possible.

https://github.com/OData/odata.net/blob/c8a25ab5a81ad3e4e7d

[2020-01-28 05:18] KanishManuja-MS opened #1650 "Escape function precedence applied instead of using key as a segment"
*Short summary (3-5 sentences) describing the issue.*
With the escape function, the syntax is ambiguous when the escape characters ':/' follow a key as a segment. The ambiguity is whether to consider the colon to be part of the key or the escape characters. To resolve this ambiguity, we decided to give escape function precedence over the key segment when the type has a bound escape function associ

[2020-01-28 09:19] keatkeat87 opened #1651 "$filter in (null) not working"
we can do like this $filter=name in ('test1', 'test2')
but can't put "null" inside the list $filter=name in ('test1', 'test2', null)

error message :
The query specified in the URI is not valid. String item should be single/double quoted: 'null'."
![image](https://user-images.githubusercontent.com/8691013/73250467-e7cb3700-41f1-11ea-8ab0-b1f28f41890c.png)

### Assemblies affected
*Which assemblies

[2020-01-28 11:24] atrauzzi commented on #1638
Sadly no as that would require me to create definitions for hundreds of properties in an auto generated model. Would also be fault prone as new models are added.

I need an automatic, conventions based approach.

[2020-01-28 11:28] paulodero commented on #1545
@gordonsnc Is it possible to share the full Edmx you are using to generate code?

[2020-01-28 13:48] paulodero commented on #739
@odero Issue was fixed in Microsoft.OData.Client 7.6.2

[2020-01-28 13:48] #739 closed

[2020-01-28 17:15] gathogojr commented on #1647
Hi @VirusQuartirus. Thank you for the question. You can specify uri with $levels and that is supported. There currently no way of specifying levels of recursion using LINQ expressions.

[2020-01-28 17:16] #1647 closed

[2020-01-28 21:30] xuzhg commented on #1651
Merged and close it.

[2020-01-28 21:30] #1651 closed

[2020-01-28 21:37] xuzhg commented on #1643
Merged and close it.

[2020-01-28 21:37] #1643 closed

[2020-01-29 03:34] mikepizzo commented on #787
The JSON delta format is described here: http://docs.oasis-open.org/odata/odata-json-format/v4.01/odata-json-format-v4.01.html#_Toc26268537.

Implementing support in ODataClient for added/modified should be pretty straightforward. Supporting deleted entries in a delta payload would require defining a new type of resource to represent the deleted resource.

[2020-01-29 08:00] marabooy commented on #1518
@tfabian Could you try this and let me know if it solves the issue you are experiencing.
[code]
This should solve the issue you are experiencing as per the protocol definition for the [changesets](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398362)

[2020-01-29 12:05] ElizabethOkerio commented on #1531
Hey @DarkGraySun, try implementing the Equals and GetHashCode() methods from the IEqualityComparer<T> interfaces as we look more into the issue. In your case from the sample project, this will be:

using System;
using System.Collections.Generic;

namespace TransferObject
{
    [Microsoft.OData.Client.Key(nameof(Id))]
    public class ExampleObject : IEqualityComparer<ExampleObject>
    {
        p

[2020-01-29 12:30] gathogojr commented on #718
@silkroadscott @odero @mumbi-o
Implementing support for case-insensitive variants for query option values  (=> true/false/True/False/TRUE/FALSE/etc) would not be in line with the current OData spec http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#_Toc26175328
For this reason, the team's position is that this is the expected behaviour, until such a time when the specific

[2020-01-29 12:30] #718 closed

[2020-01-30 07:39] tfabian commented on #1518
**@marabooy** I have already tried this in the past. In this case the following exception has been thrown _System.InvalidOperationException: 'The context is not currently tracking the entity.'_
Both entities are newly created without Id, so I can't attach it to the context. I also tried to add it (AddObject) before calling AddLink, see my original post.

In the opposite direction it doesn't work n

[2020-01-30 08:32] gogulsekar commented on #463
+1

[2020-02-02 15:46] mukesh-shobhit commented on #736
I am following the issue here. Is there any update on this?

[2020-02-03 09:26] marabooy commented on #1382
@JanKonopka The issue was fixed in https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#15.9.7 and https://github.com/mono/mono/issues/10488
Upgrading to either VS2019 or VS2017 15.9.7 should sort it out. Kindly do let me know if you face any issue related to this so we can reopen the issue.

Also do make sure to run the queries using the exposed async api's e.g
`   var airli

[2020-02-03 09:26] #1382 closed

[2020-02-03 23:39] ChrisSchaller opened #1657 "Support QueryOptions for Actions"
There is a lot of power in the server side in allowing _Actions_ to accept `QueryOptions`, common scenarios include _Create_ style actions that allow the result graph to be filtered or expanded, but also to allow customised filter experience for and endpoint that might have otherwise been implemented as a _Function_.

But the client library does not facilitate passing through `UriOperationParamete

[2020-02-04 10:31] ElizabethOkerio commented on #1581
Hey @Sayan751, can you please share a link to a repo of your implementation that we can look at and advise accordingly because we have been able to create a new entity with a nested complex type collection.

[2020-02-04 11:53] marabooy commented on #1518
@tfabian Could you share what the ID is for the two Models also could you share the properties in DomainEntity?

[2020-02-04 15:51] tfabian commented on #1518
[code]

[2020-02-04 17:17] KanishManuja-MS commented on #1657
@ChrisSchaller We don't believe that changing the constructor is the right approach here as the actions can only have body parameters. However, we do agree that we should support composing query options on top of actions or functions. We would be happy to review the changes if you are willing to contribute otherwise we will get this added to our backlog.

[2020-02-04 18:26] xuzhg commented on #1610
Merged at 82c54cb

[2020-02-04 18:26] #1610 closed

[2020-02-05 07:43] marabooy commented on #1518
@tfabian Thanks for the quick reply

[2020-02-05 13:40] ihtfp69 commented on #1611
@KenitoInc sorry, I never got an email about your comment. I did try every SaveChangesOption and none of them worked. It always throws an exception on the thread instead of returning data.

[2020-02-06 04:57] paulodero commented on #1545
@gordonsnc This issue is being closed. If you are still experiencing the issue please feel free to reopen and provide the requested Edmx and more information to help reproduce the issue you are facing. I have tried to code generator 7.5.1 with an Edmx that has <EntitySet Name="Containers" ..> and it generates correct code that compiles.

[2020-02-06 04:57] #1545 closed

[2020-02-06 08:19] KenitoInc commented on #1611
@ihtfp69 Kindly share the sample code you are trying to run

[2020-02-06 11:26] marabooy commented on #1518
@tfabian Thank you for being patient. Just noticed in my earlier example I had not included the code to add the box instance so its tracked in DSC. I had missed the details in the stack trace you provided earlier. The correct code should have been.

[code]
Could you try this and let me know if this works. This should
The signature for my create ref method on the API is
[code]

Tested with Microsof

[2020-02-06 11:46] marabooy commented on #1518
For the approach below the controller needs to have an extra method to resolve the route
[code]

Method signature for the route needed for the approach above to work
[code]
This comes in handy for contained navigation

[2020-02-06 13:07] tfabian commented on #1518
Hi **@marabooy** ,
I tried the sample with AddLink, but it didn't work for me, the method CreateRef wasn't called. I recently moved to netcoreapp3.1 from net472. I'm testing it with Microsoft.OData.Client 7.6.2 (netcore WPF app)  and Microsoft.AspNetCore.OData 7.3.0.

Foreign key is not nullable.

DDL snippets:
[code]

Thank you

[2020-02-07 13:10] kennysaelen commented on #1220
You can indeed just use the following line in the .tt file:
public const string TempFilePath = "<put an xml file path here>";

This wil generate the edmx in a file on disk and work with that also avoiding the whole issue.

[2020-02-11 12:22] Sayan751 commented on #1581
@ElizabethOkerio It is bit difficult to provide a reproduction repo. However, I will try to create one, and will get back to you. Sorry for the late reply.

[2020-02-11 21:02] #1660 closed

[2020-02-11 21:02] Karthickraju2690 opened #1660 "Question: An open collection property 'FieldName' was found. In OData, open collection properties are not supported."
I am trying to create a list on SharePoint online. One of the fields is Multi-choice field.

If I run below code without passing value for Multi-choice, it's working fine now. But, does not work when run along with multi choice.

        app_settings = {
            'url': 'url',
            'client_id': 'clientid',
            'client_secret': 'secret'
        }

        context_auth = Authentica

[2020-02-11 22:51] Hasanchiver opened #1661 "Filtering by count of a child collection"
I am having trouble writing a query for filtering by count of a child collection. I have two types of entities.

### Assemblies affected

Microsoft.AspNetCore.OData  7.3.0

### Reproduce steps

I have two types of entities: Orders and Suborders. Orders contain a list of Suborders. I want to query for an Order with exactly 2 Suborders or exactly 3 Suborders. How should I write my query? I haven't b

[2020-02-12 05:54] ElizabethOkerio commented on #1581
Hey @Sayan751, Thanks for getting back. Will really appreciate it if you create one.

[2020-02-12 06:36] Sayan751 commented on #1581
@ElizabethOkerio I will try to create one. Meantime, may I ask you to share your working repo? It is certainly possible that I did it wrong. So, having a correct example would be very helpful.

[2020-02-12 07:45] paulodero commented on #1305
@NetTecture I have the following service with an action as follows and the action seems to be called with a complex type parameter. Please share a sample repo you used to reproduce this.

[2020-02-12 07:48] paulodero commented on #1305
I have the following service with an action as follows and the action seems to be called with a complex type parameter. Please share a sample repo you used to reproduce this.

- complex types
[code]
- Action
[code]
Client object
`
          var  Updates = new InspectionDutyChanges()
            {
                Comment = "comment try",

                Changes =  {
                            new

[2020-02-12 11:44] ElizabethOkerio commented on #1581
@Sayan751 please check the simplest reproduction of the issue. Let me know if that is what you were trying. (https://github.com/ElizabethOkerio/Issue1581Repro)

[2020-02-12 12:33] marabooy commented on #1572
Hi @rschiefer Could you kindly provide me with the CSDL that is being generated from the service and the sample code that you are using to try and read the Annotation.

I tried to reproduce the issue but I can't seem to reproduce it with the latest version.

My approach was
1. Create an asp.net core 3.1 application using the products [tutorial](https://docs.microsoft.com/en-us/odata/webapi/netcore

[2020-02-12 12:44] rschiefer commented on #1572
I was using 2.1. Can you reproduce it there?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David Wambugu <notifications@github.com>
Sent: Wednesday, February 12, 2020 6:33:11 AM
To: OData/odata.net <odata.net@noreply.github.com>
Cc: Robb Schiefer <rschiefer@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [OData/odata.net] TryGetAnnotation on O

[2020-02-12 13:36] Sayan751 commented on #1581
@ElizabethOkerio Thanks you :) Will do

[2020-02-12 14:07] KenitoInc commented on #1549
@mikepizzo
This issue affects where we don't have NavigationPropertyBinding within an Entity Set
For example the code below will throw an exception
var person = dsc.People.ByKey("russellwhyte").GetValue();
dsc.LoadProperty(person, "Trips");

However the code below won't throw an exception
dsc.LoadProperty(person, "Friends");

[2020-02-12 14:16] marabooy commented on #1572
Will do thanks, are the steps similar to what you did? or is there something else that I should change?

[2020-02-12 14:42] rschiefer commented on #1572
Yes, I followed the tutorial.

[2020-02-12 16:03] marabooy commented on #1518
@tfabian The issue should be fixed in .net core version in this PR by @gathogojr  https://github.com/OData/WebApi/pull/2023 concerning the issue in .netcore libs
https://github.com/OData/odata.net/issues/1610. The client sends the right response but the server side version of .net core had a bug that's now fixed.

[2020-02-12 17:41] xuzhg commented on #1661
Hi, Hasanchiver
It seems you can use the query string like `~/Orders?$filter=SubOrders/$count eq 2`. However, it's not supported yet in OData library, Neither for ASP.NET Core OData.
There's a PR #1336 related to this feature which is under reviewing. Once that PR get merged, we can work this feature in ASP.NET Core.

[2020-02-12 18:40] mmiao-whoami opened #1662 "Change of Behavior in Handling of Escaping Characters in 7.3.0?"
Double quotes in entity property from the request body got escaped

### Assemblies affected

7.3.0

### Reproduce steps

We have a model class which contains the following property:
public IDictionary<string, object> Properties { get; set; }

Let’s say the request body has (Don’t be fooled by its json-like look. The value is just a string with double quotes and braces in it):
"Filter":"{\"version\

[2020-02-13 08:38] marabooy commented on #1572
Hi @rschiefer  Could you kindly share your CSDL so i can try to reproduce the Issue.  My current CSDL is shown below and the library is able to read the Annotation and get the value successfully.

[code]

This is the code that I am using to read the annotation.
[code]

Could you try this sample and let me know if it works for you. To add the annotation to the csdl I use the sample in my earlier re

[2020-02-13 09:13] ElizabethOkerio commented on #1495
@atnegrete,  can you please share the csdl or service endpoint that you used for us to be able to reproduce the issue. Thanks.

[2020-02-14 06:43] KenitoInc commented on #1477
@cory-hrh Did you get time to test the code I had shared above?

[2020-02-14 09:05] rahul7720 commented on #1411
Another reason I like the Odata Client Code Generator, it has in-built entity tracking and it will only send the updated property to the server calling patch method which is not available in Simple.Odata.Client.

[2020-02-14 11:51] cilerler commented on #1411
@mikepizzo I believe we should have an official client for at least for C# and Typescript, would you share your/team's thoughts on that, please?  Thanks in advance.

[2020-02-14 16:26] mikepizzo commented on #1411
Absolutely; having a good integrated client story was one of the most important aspects to getting adoption in the early days of OData.  While the client has been neglected over the past few years while we've concentrated on rapidly iterating the service and core libraries to address new platforms and protocol features, we brought an excellent group of developers on board late last year whose init

[2020-02-16 20:00] ChrisSchaller commented on #1638
I would use a T4 script to define the properties in the model, that gives you automation and customisation at the same time.

[2020-02-17 09:56] nick-webbgh opened #1665 "Resource not found for the segment"
I've create an API Page called APISP3 in a VSCode AL Extension. The SourceTable is "Sales Price". I've deployed to Business Central and I've added a web service for the aforementioned API Page. I've downloaded the metadata. Now I'm trying to perform CRUD operations in a C# program via an Unchase OData Connected service. I'm reading records OK. I can add a new record OK, but when I try to perform a

[2020-02-17 10:08] Echarnus opened #1666 "The Id cannot be computed, since the navigation source 'values' cannot be resolved to a known entity set from model"
I created a OData service I am consuming via Simple.OData.Client, yet am receiving the error at following code:

[code]

### Assemblies affected

Microsoft.OData.Core version 7.6.3

### Reproduce steps

Each time I receive an OData item

### Expected result

No exception

### Actual result

Following exceptions with each OData record get thrown, causing too much overhead on our system:

Microsoft.

[2020-02-17 11:56] KenitoInc commented on #1549
@ityk
There a few scenarios that could cause this error. Kindly share your metadata so that I can give you a detailed explanation

[2020-02-17 14:47] atrauzzi commented on #1638
Yikes, that sounds like overkill, also, I don't want to mix any concerns in the models.

This needs to be configurable at the serialization layer as the functionality is already there.

[2020-02-18 13:38] ChrisSchaller commented on #1638
But it's not just serialization, you would also have to override the URI resolver or Routing Convention as well but even then the $metadata will still need to be overridden if you wanted to support any OData client-side generation or inspection tools. Instead of T4 you could just iterate all the types in the ODataBuilder and set the name on all the properties to a snake_case variant.

Conventions

[2020-02-18 13:42] ChrisSchaller commented on #1638
@atrauzzi you mention your model is _reverse engineered_ did you use a repeatable tool to do this, or was it once off? You could instead augment the reverse logic to add the `DataMemberAttribute` at the time the class is created.

[2020-02-18 16:20] atrauzzi commented on #1638
Again, I think the `DataMemberAttribute` is an implementation specific that's inappropriate for the model.

That said, I'm using the EF reverse migration tool. I don't want to have my hands in it.  The right place for this is somewhere in the odata layer where I tell it to follow a consistent policy for mapping properties to json field names.

[2020-02-18 17:49] gathogojr commented on #1662
@mmiao-whoami Kindly allow us to take a look and advise

[2020-02-18 17:55] gathogojr commented on #1665
@nick-webbgh Kindly provide a metadata file that we can use to try and reproduce the issue. Also provide with details of the OData Core version you're using. Also provide the request url

[2020-02-18 18:15] xuzhg commented on #1666
From the Stackoverflow, "Contained" attribute resolves your problem.  I'd like share more information about the error message.

From OData repo, we have the following error message definition:
`ODataMetadataBuilder_UnknownEntitySet=The Id cannot be computed, since the navigation source '{0}' cannot be resolved to a known entity set from model.`

So, For "Non-containment navigation property", you s

[2020-02-18 18:15] #1666 closed

[2020-02-19 00:40] ksikorsk opened #1667 "Failure when parsing OData function with $expand AND $filter"
Exception thrown when parsing a URI for a OData `Function` with `$expand` and `$filter` statemenets.
I.E. `~/messages/delta?$expand=singleValueExtendedProperties($filter=id eq 'value')`

where delta is a function that returns a collection:
[code]

### Assemblies affected

OData .Net lib 7.6.3

### Reproduce steps

GET [https://graph.microsoft.com/v1.0/me/mailFolders/inbox/messages/delta?$expand=si

[2020-02-19 09:23] marabooy commented on #736
@ThomasBarnekow  @mukesh-shobhit  Looking into the issue.

@ImGonaRot Should the right semantics for adding this be
[code]

So in flight the JSON would look like
[code]

[2020-02-19 12:38] 1Jesper1 commented on #1396
Hello @madansr7 and @KanishManuja-MS Has this issue been fixed yet?

[2020-02-19 13:33] ziacik opened #1668 "How to create a nested complex property"
Trying to create a nested complex property using `ODataResourceValue` throws an exception.

### Assemblies affected

OData .Net lib 7.5.3, 7.6.3

### Reproduce steps

Trying to create an entity like this (or should I use some other way?)

[code]

### Expected result

An entity, something like this: `{ complex: { inner: 'value' } }`.

### Actual result

Throws an `ODataException`: `The value of a p

[2020-02-19 15:53] paulodero commented on #1305
@NetTecture Looks like `Simple.OData.Client` library is lagging behind recent changes in OData core. `WriteValue(..)` method should not be called on complex type parameter [as implemented in Simple.OData.Client](https://github.com/simple-odata-client/Simple.OData.Client/blob/61dc9fd08e877a9e52812bce4c1d9b5e109f41ed/src/Simple.OData.Client.V4.Adapter/RequestWriter.cs#L221-L225). Microsoft.OData.Cli

[2020-02-19 16:11] marabooy commented on #1251
@PDNemesis the client should be able to work in this way( without using codegen) by using the dataservice context.

An example is.
[code]

[2020-02-19 20:12] ityk commented on #1549
Hi.
I was able to get it to work by adding Devices call as a function explicitly in my metadata as
<Function Name="Devices" IsBound="true">
<Parameter Name="bindingParameter" Type="Microsoft.Online.IntelligentUpdate.Core.Datamodel.WebApi.UpdatePolicy"/>
<ReturnType Type="Datamodel.WebApi.DeviceAssets"/>
</Function>
<Function Name="DeviceDetails" IsBound="true">
<Parameter Name="bindingParameter" T

[2020-02-19 20:14] ityk commented on #1549
`<EntityType Name="UpdatePolicy" Abstract="true">
<Key>
<PropertyRef Name="UpdatePolicyId"/>
</Key>
<Property Name="UpdatePolicyId" Type="Edm.String" Nullable="false"/>
<Property Name="CreatedDateTime" Type="Edm.DateTimeOffset" Nullable="false"/>
<Property Name="LastModifiedDateTime" Type="Edm.DateTimeOffset" Nullable="false"/>
<Property Name="Status" Type="Datamodel.WebApi.PolicyStatus" Nullable=

[2020-02-19 21:52] tfabian commented on #1610
Hi, could you write me please the version and name of the nuget package with the relevant fix?

Thx

[2020-02-20 08:40] PatrickHofman opened #1671 "ArgumentNullException on Any in ODataUriResolver"
Running an OData server on .NET Core 3.1. When I call an endpoint (table) that doesn't exist, it gives a 404 as expected. However, the code also raises a ArgumentNullException, which is seemingly ignored.

### Assemblies affected

Microsoft.OData.Core version 7.6.3.

### Reproduce steps

Still not exactly sure what the minimal required steps are to reproduce, I need to narrow down a lot of code fo

[2020-02-20 15:52] KenitoInc commented on #1549
@ityk
Kindly share the full metadata, the one shared above is incomplete

[2020-02-20 22:22] erdomke opened #1673 "Parsing OData case() functions"
I am trying to parse a [case function](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_case) using the Microsoft.OData.Core library (v7.6.3.0). However, I keep getting an exception as outlined below. Based on the exception, it appears that parsing such functions is not supported. However, I cannot find documentation confirming this. In general, is there docu

[2020-02-21 19:00] VenuMadhavPerumalla commented on #633
@TomDu - Please let me know when if there's a timeline for the fix

[2020-02-21 19:11] #843 closed

[2020-02-23 01:38] #1411 closed

[2020-02-24 07:32] paulodero commented on #1304
@NetTecture This issue is related to issue #1305 and what @xuzhg has mentioned above. [Simple.OData.Client is using wrong methods](https://github.com/simple-odata-client/Simple.OData.Client/blob/61dc9fd08e877a9e52812bce4c1d9b5e109f41ed/src/Simple.OData.Client.V4.Adapter/RequestWriter.cs#L259-L289) for a collection of complex type. Please refer to [Microsoft.OData.client and see how it implemented

[2020-02-24 07:32] #1304 closed

[2020-02-24 08:20] marabooy commented on #1572
@rschiefer Closing this Issue. Feel free to reopen it if the above sample doesn't work for you.

[2020-02-24 08:20] #1572 closed

[2020-02-24 08:41] gathogojr commented on #1610
Hi @tfabian The nightly below has the changes that fixed the issue. Be on the lookout for a release in the next couple of days.
https://www.myget.org/feed/webapinetcore/package/nuget/Microsoft.AspNetCore.OData/7.3.0-Nightly202002171520#

[2020-02-24 15:21] g2mula opened #1676 "Adding an EntitySet to a model using the includeServiceDocument throws exception"
Adding a new ```EntitySet``` with the ```includeInServiceDocument``` overload creates an entityset with container, path and type properties as null

### Assemblies affected
Microsoft.OData.Core 7.6.3

### Reproduce steps
New console application,
Add Microsoft.OData.Core 7.6.3
[code]

### Expected result
The console writes out a an schema xml with two entitySets.

### Actual result
An exception is

[2020-02-25 07:36] marabooy commented on #1610
@tfabian Do close https://github.com/OData/odata.net/issues/1518 if this works for you :)

[2020-02-25 11:03] hugener opened #1678 "Problem with navigation property in complex type"
I originally posted my issue at: https://github.com/unchase/Unchase.Odata.Connectedservice/issues/38, but was referred here.

I'm trying to consume an OData service and the code generation (Unchase) worked just fine.
However, when I execute a query I get the following error:
The property 'X' is of entity type and it cannot be a property of the type 'Y', which is not of entity type. Only entity typ

[2020-02-25 12:39] ElizabethOkerio commented on #1581
@Sayan751, was the link I sent you useful or you are still experiencing the same issue? Please let me know.

[2020-02-25 12:41] ElizabethOkerio commented on #1531
Hey @DarkGraySun , you can reopen this issue if the workaround I provided you did not solve the issue. Thanks.

[2020-02-25 12:42] #1495 closed

[2020-02-25 15:10] #1676 closed

[2020-02-25 16:14] habbes commented on #1668
@ziacik thank you for the question.

I think you can only directly set the `Value` of a property to primitives (types which can be wrapped by `ODataPrimitiveValue`).

Follow this guide for more details on working with entities and complex types: https://docs.microsoft.com/en-us/odata/odatalib/merge-complex-and-entity

If you're trying to write a payload consisting of an entity with a nested comple

[2020-02-25 16:41] habbes commented on #1673
Hi @erdomike. Thanks for reporting this.

Here is [a roadmap](https://docs.microsoft.com/en-us/odata/resources/roadmap) that shows which features of the spec are supported in the OData core library as well as the WebApi library. However, the `case` function is not currently mentioned on that list.

[2020-02-25 17:21] Sreejithpin commented on #1668
ODataResourceValue is designed for instance annotation, please see the above example to see how to use a nested complex property

[2020-02-25 17:21] #1668 closed

[2020-02-26 09:58] odero commented on #1667
Related https://github.com/OData/odata.net/issues/1324

[2020-02-26 10:17] hugener commented on #1678
Great to hear it'll be implement. Is it possible to get an ETA on when it'll be out?
I'm just trying to plan whether we should wait for it or start implementing a client manually.

[2020-02-27 00:38] erdomke commented on #1673
@habbes Thanks for the update and the link to the roadmap.

[2020-02-27 13:31] #1003 closed

[2020-02-28 07:18] marabooy commented on #1518
@tfabian Closing this, Kindly do let us know if the fix in #1610 doesn't work so we can reopen.

[2020-02-28 07:21] marabooy commented on #1251
@PDNemesis the docs for this have been added in https://github.com/MicrosoftDocs/OData-docs/pull/111.

[2020-02-28 07:23] marabooy commented on #1251
@Patricia-Dieguez Kindly do feel free to reopen the issue if the above sample doesn't work. We have also opened a PR for documenting how to use the DSC without codegen.

[2020-02-28 08:38] KenitoInc commented on #1549
@ityk Closing this issue for now. You can reopen incase there are still pending issues

[2020-02-28 08:38] #1549 closed

[2020-02-28 08:56] KenitoInc commented on #1477
@cory-hrh Closing this issue. If there are any issues arising, feel free to reopen it.

[2020-02-28 08:56] #1477 closed

[2020-02-28 14:20] tfabian commented on #1518
Please reopen this issue. I tried it with <PackageReference Include="Microsoft.AspNetCore.OData" Version="7.4.0-Nightly202002252317" /> and it still doesn't work.
I can confirm that Issue #1610 is solved, but this is another issue.

Thx

[2020-02-28 14:24] marabooy commented on #1518
Ok thanks for verifying this.

[2020-02-28 16:42] tfabian commented on #1518
[ODataIssue1518.zip](https://github.com/OData/odata.net/files/4268045/ODataIssue1518.zip)
I attached a simplistic solution in the zip file, will it be useful?

[2020-02-28 16:48] 1Jesper1 commented on #1485
Thanks, it works!. Please upload a Visual Studio 2019 version to the marketplace [https://marketplace.visualstudio.com/items?itemName=bingl.ODatav4ClientCodeGenerator](https://marketplace.visualstudio.com/items?itemName=bingl.ODatav4ClientCodeGenerator)

[2020-03-01 18:42] nick-goloborodko opened #1687 "Timeout property not available in .NET Standard version of the lib"
I have a project where a fairly large request is made to Dynamics 365 Finance & Operations and the operation is timing out. The project is runnign on .net core 3.1 and the odata generated client is in a .net standard 2.1 assembly.

### Assemblies affected

OData .Net lib 7.x

### Reproduce steps

context = new Resources(new Uri($"https://test.free.beeceptor.com/data"));
context.Timeout // <-- miss

[2020-03-01 18:51] nick-goloborodko commented on #1687
Duplicate of #1524

[2020-03-01 18:51] #1687 closed

[2020-03-02 12:02] marabooy commented on #1518
@tfabian  Thanks for the sample. this helped alot. I will be transferring this issue to Odata\WebApi as this is an Issue in the batch reader in WebApi  [Batch reader:L127] for dotnet core (https://github.com/marabooy/WebApi/blob/master/src/Microsoft.AspNetCore.OData/Batch/ODataBatchReaderExtensions.cs#L127) Which is [different](https://github.com/marabooy/WebApi/blob/master/src/Microsoft.AspNet.OD

[2020-03-02 12:50] ElizabethOkerio commented on #1332
@julealgon, inorder for you to use the POCO classes with the client, you need to use the following 3 methods when naming your Primary Keys.
ID
type+ID
[Key] attribute on a type property.

[2020-03-02 12:50] #1332 closed

[2020-03-02 12:50] #543 closed

[2020-03-04 07:23] rahul7720 commented on #1411
**UPDATE MARCH 2020**
Seems Microsoft Odata team is continuously updating Odata Client. I can see the Odata Connected Service extension is updated to Version 0.4 which supports VS2019.
https://marketplace.visualstudio.com/items?itemName=laylaliu.ODataConnectedService

[2020-03-05 03:40] GoneWithWind opened #1691 "How to relax the constraint to allow dot character appears in property name for open type?"
Clarify first that is not a defect, I am asking here to figure out whether we have some extension points to relax the constraint to allow dot character appears in property name for open type. I know dot have special meaning in property name according to the OData spec. But we are handling a legacy system and changing the data contract to non-open type is too risky for us, the input payload comes f

[2020-03-05 06:49] ElizabethOkerio commented on #1319
@godrage, it seems like your service returns duplicates that's why you are getting 62 entities instead of just your root object and that's why the exception gets thrown because you are using the NoTracking MergeOption. Do you know why your service returns duplicates?

[2020-03-05 11:48] KenitoInc commented on #1446
PR has been merged. Issue resolved

[2020-03-05 11:48] #1446 closed

[2020-03-05 12:10] norcino opened #1693 "Unable to get stream"
I am not sure this is the right place to raise this issue because I think this might be related to Microsoft.Odata.Client, which afaik is not in Github.

My problem is described here: https://stackoverflow.com/questions/60541935/odata-client-getreadstreamasync-not-working

The GetReaStreamAsync is not working because it cannot determine the stream link, but my api is returning the metadata correct

[2020-03-05 17:58] norcino opened #1692 "GetReadStreamAsync not available with NoTracking - No way to get Streams with NoTracking"
It is not possible to consume streams when connecting to a read only API with MergeOption set to NoTracking.

### Assemblies affected

Microsoft.OData.Client 7.6.3

### Reproduce steps

1) Create a Container (service reference)
2) Set the MergeOptions to NoTracking
3) Load an entity which supports streams

at this stage if you try to get the stream for the given entity it will fail, even if you tr

[2020-03-06 08:07] marabooy commented on #1693
@norcino Closing this as it appears to be a duplicate of #1692

[2020-03-06 08:07] #1693 closed

[2020-03-07 17:26] ccdevcreative opened #1694 "$metadata payload change odata.context base host url"
Hi there,
For api hosted (on premise) behind a load balancer or api gateway, the uri in the payload for document services and entity response (@odata.context,@odata.link), is the uri on the from the hosted server and not the url from the api gateway(etc).

I found a way to change the url on the entity responses metadata,but not for the document services...

Question: There are some alternative for

[2020-03-07 18:02] ccdevcreative commented on #823
Hi there, i want to be able to change the **odata.context** parameter (for my on premise host url ) on the service document response....

It's that possible???

[2020-03-08 14:33] godrage commented on #1319
Yes, it is supposed to return duplicates.

**Imagine a simple case, where a class 'color' would be a virtual object on another class 'product'. Now when you load a couple products and expand 'color' you can and should have duplicates.**

I use noTracking on purpose here and only start tracking by creating a temporary DataServiceCollection when users go into 'edit mode'. -- this is done for perform

[2020-03-09 02:57] yww325 commented on #1560
Are you going to fix it? Or is there a workaround?

[2020-03-09 05:08] #1305 closed

[2020-03-09 05:39] ElizabethOkerio commented on #1319
@godrage, Yes. The expanded results of several products can be duplicates. The issue is with the products in your case having the same Id or something like that. Please confirm that this is not the case.

[2020-03-09 06:43] ysmoradi commented on #1305
Simple.OData.Client's issue has been fixed recently.

[2020-03-09 12:54] godrage commented on #1319
To stick to my simple sample, products will have all different IDs directly derived from primary keys in a mssql database (so duplicates are not possible database-side),
**BUT the color virtual class that we expanded on 'product' -- here you can have the same 'color-id' multiple times.**

[2020-03-09 12:57] godrage commented on #1319
Color: { ID: 1, COLOR: red }
Color: { ID: 2, COLOR: blue }

Product :  { ID: 1421, COLOR: { ID: 1, COLOR: red }}
Product :  { ID: 2321, COLOR: { ID: 2, COLOR: blue }}
Product :  { ID: 3421, COLOR: { ID: 1, COLOR: red }}

[2020-03-10 05:00] padhumailin commented on #1219
Multiple EDM would be helpful, when need to expose only related metadata information for each routes.
for example
http://******.com/file/Accounts/$metadata#Accounts -> will expose only Accounts related metadata info

http://******.com/file/Sales/$metadata#Sales-> will expose only Sales related metadata info

[2020-03-10 07:31] KenitoInc commented on #1334
@julealgon Issue has been fixed. Wait for the next version to be pushed to nuget

[2020-03-10 07:31] #1334 closed

[2020-03-10 11:22] #1671 closed

[2020-03-10 15:53] nick-webbgh commented on #1665
We put this one down to bad data in the database. When I created my own new record it worked OK.

[2020-03-10 15:53] #1665 closed

[2020-03-10 15:53] nick-webbgh commented on #1665
We put this one down to bad data in the database. When I created my own new record it worked OK.

[2020-03-10 16:03] nick-webbgh opened #1698 "Unchase DataServiceContext"
I'm trying to add a Document Attachment record via an Unchase Connected Service to a Microsoft Dynamics NAV database in C# (Visual Studio Professional 2017), (see code below):-

string lstrFileName = @"C:\Users\user.name\Documents\PDF\BCTest\Test Attachment 3.pdf";
System.IO.FileInfo lfi = new System.IO.FileInfo(lstrFileName);
NAV.API_Document_Attachment lobjDA = NAV.API_Document_Attachment.Create

[2020-03-10 16:24] marabooy commented on #1692
@norcino  This is a limitation in the current code. We are happy to accept any contributions on the above as well.

[2020-03-10 16:31] marabooy commented on #1698
@nick-webbgh Could you provide a sample and more information?

[2020-03-10 16:47] nick-webbgh commented on #1698
Sample code is above. The PDF is just any file you've got lying about.

NAV details below:-
Version: Platform 14.0.29530.0 + Application 29537 (GB Dynamics NAV 14.0)

Anything else you need?

[2020-03-10 17:00] nick-webbgh commented on #1698
Here's the metdata.
[TestEndpointMetadata01_xml.zip](https://github.com/OData/odata.net/files/4313726/TestEndpointMetadata01_xml.zip)

[2020-03-10 17:29] marabooy commented on #1691
@GoneWithWind  Odata doesn't support dots in the property names as dots have special meaning. You might want to try having the Address as a complex type so that the end result will be
[code]

[2020-03-10 17:33] marabooy commented on #1694
@ccdevcreative Yes it is possible to set the base url if you are using the odata core api. If you are willing to provide more info we would be happy to answer.

[code]
https://docs.microsoft.com/en-us/odata/odatalib/write-payload#write-service-document

[2020-03-10 21:38] VirusQuartirus opened #1701 "Invalid serialization when $expand=*($levels=xxx) is applied"
$expand=* is not recursively applied when serializing entities.

### Assemblies affected

OData WebApi lib 7.x

### Reproduce steps

1. Define entity and entity set:
[code]

2. Execute request:
`http://localhost:1981/ReferenceDomain.svc/Nodes('Node0')?$expand=*($levels=2)`

### Expected result

Each referenced entity have expanded both Children and Subchildren properties.

### Actual result

Entit

[2020-03-10 21:39] VirusQuartirus opened #1702 "Can't handle $select=* and $levels=xxx together"
According to [spec](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part2-url-conventions.html):
*Example 101: expand all related entities and their related entities*
`http://host/service/Categories?$expand=*($levels=2)`
However, when running such a request exception occurs.

### Assemblies affected

OData WebApi lib 7.x

### Reproduce steps

Run following request:
`https://services.odata.o

[2020-03-11 11:13] SimonPStevens opened #1703 "Using apply & expand in combination does not work"
Using apply and expand together does not work.

According to the [OData aggregation spec](http://docs.oasis-open.org/odata/odata-data-aggregation-ext/v4.0/cs01/odata-data-aggregation-ext-v4.0-cs01.html#_Toc378326308), this query syntax should work

    $apply=expand(Sales,filter(Amount gt 3))

But in the results, the expanded entity set is not included at all.

According to https://github.com/ODat

[2020-03-11 12:24] nick-webbgh opened #1704 "DataServiceStreamLink"
So, I've defined a custom table in an AL Extension (for Dynamics NAV) with just 2 columns:-
field(50002; SvcOrdNum; Code[20]) {}
field(50003; AttachmentPath; Blob) {}

As you can see, the second field is defined as a Blob. This is because it needs to hold path strings longer than 250 characters, so data-type: [Text] won't do. I was advised, the way round this limitation, is to use data-type: [Blob

[2020-03-11 13:14] marabooy commented on #1698
Thanks @nick-webbgh Let me try it out and get back to you.

[2020-03-11 22:05] cfeilen commented on #1485
Any plan to get this updated on the Marketplace?

[2020-03-12 05:06] paulodero commented on #1485
@cfeilen You could also consider using [connected service](https://marketplace.visualstudio.com/items?itemName=laylaliu.ODataConnectedService) for code generation and it currently supports VS 2019.

[2020-03-12 12:05] nick-webbgh commented on #1698
Thanks in advance @marabooy .

[2020-03-12 13:27] GoneWithWind commented on #1691
@marabooy  Thanks a lot. Using complex type sound reasonable, but as I mentioned, we are dealing with some legacy code and changing the data contract is deemed risky. I will go ahead with data contract change if there are no way to achieve this by design, :). Thanks again.

[2020-03-12 13:28] #1691 closed

[2020-03-12 16:06] ccdevcreative commented on #1694
Hi @marabooy
Thanks so much for answer my comments...

I was able to write the services document payload in a file, but what i need is to have the same out
![image](https://user-images.githubusercontent.com/31016910/76540565-ad8fbf00-6458-11ea-8adb-7692f197ba18.png)

But, **what i need is to replicate the same in the services document response**
![image](https://user-images.githubusercontent.com/3

[2020-03-12 16:09] ccdevcreative commented on #1694
BTW I could change the @odata.context for the entities payload just adding to lines of code in the beginning of every action method..

![image](https://user-images.githubusercontent.com/31016910/76541596-3c510b80-645a-11ea-81c5-8ae1c8043d36.png)

Maybe this could help somebody....

[2020-03-12 16:10] ccdevcreative commented on #823
Try this
![image](https://user-images.githubusercontent.com/31016910/76541775-74584e80-645a-11ea-971c-a49579ce8c08.png)

[2020-03-13 16:51] elcarlosadrian opened #1706 "Microsoft.OData.Core.dll is marked as [assembly: SecurityTransparent], breaking constructor using security critical type 'System.IServiceProvider'"
The Microsoft.OData.Core .dll is marked as [assembly: SecurityTransparent], and based on my understanding this means the library won't do any security related operations.
However, the System.IServiceProvider type used in the constructor of the ODataQueryOptionParser class is marked as "security critical type", and that's causing an exception:

System.TypeAccessException
  HResult=0x80131543
  Mess

[2020-03-13 17:00] elcarlosadrian commented on #1706
A more explicit repro:

`Assembly asm = Assembly.LoadFrom(@"<DLL PATH>\Microsoft.OData.Core.dll");
Type t = asm.GetType("Microsoft.OData.UriParser.ODataQueryOptionParser");

object[] constructorParameters = new object[5];
constructorParameters[0] = null;
constructorParameters[1] = null;
constructorParameters[2] = null;
constructorParameters[3] = new Dictionary<string, string> { { "$filter", filter

[2020-03-13 23:19] xuzhg commented on #1706
From @elcarlosadrian message, it it's issue at their side.  The issue got resolved after downgrading his dependency on System.ComponentModel from 4.0.1 to 4.0.0. So, close it

[2020-03-13 23:19] #1706 closed

[2020-03-13 23:42] godrage commented on #1319
so just to be clear, products arent the duplicates - its the expanded objects that are duplicate-heavy which cause the exception.

so imho:
- the exception shouldnt happen in the first place
- the load method should support a 'flat load' methodology not taking expanded/virtual objects into the tracked-entity-list at all (which would be the most helpful in my case since I only track flat objects fo

[2020-03-14 07:39] ElizabethOkerio commented on #1319
@godrage, Sorry for late response. Yes we are looking into this. But currently.
You can load items without their expanded result to a <code> DataServiceCollection </code>
For instance in your example above, you can do this:
<code> entityTracker.Load(context.Products) </code>
This will load only the products without their expanded results.

[2020-03-14 07:40] ElizabethOkerio commented on #1319
Maybe you can share a snippet of how you are loading items to a <code> DataServiceCollection </code>

[2020-03-14 08:58] godrage commented on #1319
In my model class (in the example above it's 'AR') i have implemented the start-tracking method, which is triggered when the user enteres an 'Edit Mode' in the UI.
In the line where the DataServiceCollection.Load method is called, **it DOES load all expanded properties.**

[code]

So the way I have to handle it at the moment is to remember a list of already tracked entities in the Default.containe

[2020-03-14 09:04] godrage commented on #1319
On the Public Properties of the model i also tried to decorate the virtual object defintions that can get expanded with 'IgnoreClientProperty'-attribute in the hope of it having an effect on the .Load-Method.

Attached you can find a full example of a single
model class containing the above snippet and everything else.

[ModelAR.txt](https://github.com/OData/odata.net/files/4332453/ModelAR.txt)

[2020-03-16 11:33] nick-webbgh commented on #1698
I had the response below on another forum:
There is a field Document Reference ID in table Document Attachment. You need to stream the file to that field first before you can insert record to document attachment. See attached new cut of the metadata with the DocumentReferenceID field included.
[TestEndpointMetadata01_xml.zip](https://github.com/OData/odata.net/files/4337913/TestEndpointMetadata01_

[2020-03-16 11:45] nick-webbgh commented on #1698
It sees the DocumentReferenceID field as a Media type in C#, which in turn has a Content property of type DataServiceStreamLink. I have added these extra 2 lines of code:-

System.Guid lobjGuid = System.Guid.NewGuid();
lobjDA.DocumentReferenceID = NAV.Media.CreateMedia(lobjGuid);

I'm guessing the next step is to load the contents of the attachment-file into some sort of MemoryStream or byte array

[2020-03-16 16:53] vladimir-kanev opened #1707 "Memory leak when using OData 7.3.0 and EF Core 3.1.2"
I forked this [sample](https://github.com/hassanhabib/OData3Beta) to add the EF Core support. It is configured to use in-memory DB, but the effect is the same with MySQL for example.

When doing OData requests the memory keeps growing and is never released.

[Here](https://github.com/vladimir-kanev/OData3Beta) is the forked version with the memory leak problem.

### Assemblies affected

AspNetCore

[2020-03-16 21:54] mohitag opened #1708 "Odata URL throws when contains percent encoded value(%2F) of / in unique record identified value"
I am trying to make a OData query to find a unique record like below
<service url>/new_alesers(new_name='alex%2F3')

here new_name is record attribute which is unique identifier and value its trying to search for is 'alex/3'.
Since / is a reserved character, I used percent encoding for same and that is failing with below exception
{"error":{"code":"0x8006088a","message":"Bad Request - Error in que

[2020-03-17 01:52] mikepizzo commented on #1708
To help narrow the issue, please verify that the following requests work correctly:
/new_alesers(keyProperty='alex%2F3')?
/new_alesers('alex%2F3')?
/new_alesers?$filter=new_name eq 'alex%2F3'?
/new_alesers(new_name='alex3').

Finally, please provide the versions of the OData libraries that you are using.

Thanks!